[2019-08-09 14:21] ChristineDomgoergen opened #1 "DEV: search, disable Case Sensitivity"
The category search is case sensitive, which is no search standard and confuses users. The user wants search results independent of capital or small letters.

[2019-08-09 14:23] ChristineDomgoergen opened #2 "DESIGN: display full category name in suggested topic areas - 1.2"
Currently the suggested categories below the search field (green buttons) are shortened automatically. This irritates users. Find a solution to display full category names or to automatically exclude categories that are longer than a certain number of characters.

Solution/Comments: Switch limitation off. Limit length to one line max, afterwards shorten.

[2019-08-09 14:23] ChristineDomgoergen opened #3 "DEV: default setting, open links in new tab"
After clicking on a task link (to the article which needs maintenance) the user wants to be able to go back to the tool, look at help instructions and remember the task. Therefore all links to the articles should per default open in a new tab.

[2019-08-09 14:24] ChristineDomgoergen opened #4 "DEV: bugfix ignore space in search bar"
A search with space after the search term does not have results. If there is a space entered in the search bar after the search term this space should be automatically ignored.

[2019-08-09 14:25] ChristineDomgoergen opened #5 "DEV: tooltip Information should appear faster"
Use Javascript Tooltip.

[2019-08-09 14:40] ChristineDomgoergen opened #6 "Design: new mock-up for the tool"
Based on UX-Tests the design of the tool needs a complete remake (colors, structure, usability). Following issues should be addressed:

**New Mock-up for the overall design**
- perceived as old-fashioned and not very appealing → change colors, font and design
- Connection to Wikipedia is missing → include Logo
- Hierarchy is unclear, navigation for users is difficult → clear user guidance

Please

[2019-08-26 09:26] darionewmonday opened #7 "DESIGN: improve yellow coloured type description of tasks"

[2019-08-26 09:30] darionewmonday opened #8 "DESIGN: Making the "task" (article) in the tool visible"
Article preview with task instructions

[2019-08-26 09:30] darionewmonday opened #9 "DESIGN: Add button to reload list of search results"
Search

[2019-08-26 09:31] darionewmonday opened #10 "DESIGN: select only certain types of tasks"

[2019-08-26 09:32] darionewmonday opened #11 "DESIGN: Filter suggested categories by user interest"

[2019-08-26 09:33] darionewmonday opened #12 "DEV: The tool doesn't search within words or phrases"

[2019-08-26 09:34] darionewmonday opened #13 "DEV: ignore space in search bar"

[2019-08-26 09:36] darionewmonday opened #14 "DEV: Exclude certain categories from search results and suggestions"
The user only wants to see categories which are interesting for the user. Therefore exclude categories which are not interesting for users:
maintenance categories
geboren [year], gestorben [year]
certain undercategories are too specific for users (tbd which ones, depends on what is possible)

Solution/Comments:
Technically there are hidden categories which should be excluded automatically.
Impleme

[2019-08-26 09:36] darionewmonday opened #15 "DEV: Do not reload search results when user leaves the page and make search results linkable"
When users manually enter a search term and then click on a search result, the results are reloaded (and change) instead of opening the article. Only happens the first time when the page is loaded.

[2019-08-26 09:37] darionewmonday opened #16 "DEV: Bugfix: do not show category suggestions without tasks"
Do not suggest categories (green buttons), when they are empty (when there are no articles with maintenance tags in this category).

[2019-08-26 09:38] darionewmonday opened #17 "DEV: Make tracking information available"
Questions we want to answer with the tracking and indicators we want to use:
How many people find the tool? --> page views
How do people use the tool? --> interaction parameters like link clicks (search results and help links), time they stay on the page
Which topics are interesting for users? --> terms entered in the search field
Do users edit after using the tool? --> edit count after they used

[2019-08-26 09:39] darionewmonday opened #18 "DEV: show amount of articles per TOPIC"

[2019-08-26 09:40] darionewmonday opened #19 "DEV: show parent category (movies) per topic (Motorsportfilm)"

[2019-08-26 09:41] darionewmonday commented on #19
There's a missing link in the content's chain. Example:
"Fast & Furious" --> article, belongs to
"Motorsportfilm" ---> Topic (or category)

At the moment, the chain ends here. Does "Motorsportfilm" belong to a parent category e.g. "Film" ? If so, we could:
- categorize the topics (Food, automotive, etc)
- use images in the background for the Category buttons
- solve the problem on 4.1

[2019-08-26 09:42] darionewmonday commented on #12
Example:
If I search
nordrhein westfalen --> is found
but if I search
westfalen ---> is not found

If I search
Motorsportfilm ---> is found
but if I search
sportfilm ---> is not found

[2019-08-29 08:06] darionewmonday opened #20 "Create test tool on wiki"

[2019-08-29 08:33] darionewmonday commented on #7
![Mitmachen - 1](https://user-images.githubusercontent.com/53903644/63924359-6c9a0500-ca48-11e9-903b-4c0fbdc51b44.jpg)

[2019-08-29 08:52] darionewmonday commented on #10
![Mitmachen - type of task](https://user-images.githubusercontent.com/53903644/63925833-1bd7db80-ca4b-11e9-8136-a0eb48fdd37e.jpg)

[2019-08-29 08:54] darionewmonday commented on #9
![Mitmachen - reload](https://user-images.githubusercontent.com/53903644/63925970-4f1a6a80-ca4b-11e9-8614-f91a55d2f5f9.jpg)

[2019-08-29 08:55] darionewmonday commented on #8
![Mitmachen - visible task](https://user-images.githubusercontent.com/53903644/63926047-76713780-ca4b-11e9-9531-c71c2d70d69e.jpg)

[2019-08-29 08:57] darionewmonday commented on #2
![Mitmachen - reload](https://user-images.githubusercontent.com/53903644/63926219-c18b4a80-ca4b-11e9-899b-767978508f2a.jpg)

[2019-08-29 09:00] darionewmonday commented on #11
![Mitmachen - user interest](https://user-images.githubusercontent.com/53903644/63926451-25157800-ca4c-11e9-9772-14a31de20876.jpg)

[2019-08-29 13:50] dev-ckln commented on #5
Where do we require the tooltip?

[2019-08-30 12:06] dev-ckln commented on #18
Question : We need to show the count of only category or need to count subcategory count as well

[2019-08-30 12:26] darionewmonday commented on #5
![Screenshot 2019-08-30 at 14 25 26](https://user-images.githubusercontent.com/53903644/64020523-13a69b80-cb32-11e9-95f4-f7592150defc.png)

[2019-08-30 12:27] #5 closed

[2019-08-30 12:32] darionewmonday commented on #18
We show the number of articles belonging to the topic

![Screenshot 2019-08-30 at 14 30 24](https://user-images.githubusercontent.com/53903644/64020894-04741d80-cb33-11e9-9d84-43fee5c1c962.png)

[2019-08-30 12:34] darionewmonday opened #21 "DEV: Define "Most popular" topics"
How can we define the "most popular" topics in the tool?

![Screenshot 2019-08-30 at 14 34 12](https://user-images.githubusercontent.com/53903644/64020991-42714180-cb33-11e9-9657-b2a887575f38.png)
@dev-ckln

[2019-08-30 12:37] darionewmonday commented on #8
Es ist noch nicht gestyled, was denkt ihr?
@ChristineDomgoergen
@tobijat

[2019-08-30 14:21] ChristineDomgoergen commented on #8
@darionewmonday Hi Dario,
also ich finde es grundsätzlich gut! Folgendes fällt mir noch auf:

- Der Wartungsbaustein (hier: Belege fehlen und die kleine Info unten mit dem Link) ist in der Vorschau nicht sichtbar. Wir hatten ja überlegt, dass der User hier eine standardisierte Hilfe bekommt und in dem Fenster irgendwie markiert sieht, wonach er in Wikipedia suchen muss (dem Wartungsbaustein). Kann

[2019-09-01 17:22] darionewmonday opened #22 "DEV: develop the front-end of the tool"
https://www.figma.com/file/RkkY3uy7fYE9PvBr4lNKx6/Mitmachen?node-id=105%3A306

[2019-09-01 17:23] darionewmonday commented on #22
@dev-ckln

[2019-09-01 19:29] darionewmonday opened #23 "DEV: produce the list of 10 "to-dos" and relative tooltip text"
@dev-ckln
On this page you can find the 10 To-dos (errors in article) which are displayed under the article to tell the user what it needs to be done. https://de.wikipedia.org/wiki/Wikipedia:WikiProjekt_Wartungsbausteine

In order to design the "Preview article" page, I need a complete list of these 10 To-dos and relative tooltip text you can see when you hover on the error.
I believe you can extr

[2019-09-02 11:08] dev-ckln commented on #23
Hi

Is this what you wanted?
Revise
Sources are missing
patchy
Outdated
NurListe
Incomprehensible
neutrality
opposition
Broken Weblink
internationalization

Please let me know if anything else is needed.

[2019-09-02 11:10] darionewmonday commented on #23
No I need:

"Belege fehlen"
Tooltip text:
In diesem Artikel fehlen Belege. Recherchiere fehlende Quellen und füge sie
ein.

"Überarbeiten"
Tooltip text:
In diesem Artikel muss grundlegend etwas verändert werden. Schau nach, was
fehlt und überarbeite den Artikel.

etc

On Mon, Sep 2, 2019 at 1:08 PM Deepak <notifications@github.com> wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Desig

[2019-09-02 11:38] dev-ckln commented on #23
How about now?

ENGLISH

Revise - Wikipedia: WikiProject Maintenance Components / Revise
Sources are missing - Wikipedia: WikiProject maintenance modules / sources are missing
patchy - Wikipedia: WikiProject Maintenance Components / Gaps
Outdated - Wikipedia: WikiProjekt maintenance modules / obsolete
NurListe - Wikipedia: WikiProject Maintenance Modules / List Only
Incomprehensible - Wikipedia: i

[2019-09-02 12:20] dev-ckln commented on #21
We might need to store which article is clicked the most or which categories are clicked more.

[2019-09-02 12:22] dev-ckln commented on #14
We can allow user to select categories and then make suggest query based on that as it shown in new design. Regarding blacklist categories, we need to store the list somewhere.

[2019-09-02 12:32] darionewmonday commented on #23
No Deepak.

You need to give me the tooltip text which is already in the code. You
don't have to invent anything. Simply find it in the code and copy/paste it
to me

Thanks

Il lun 2 set 2019, 13:38 Deepak <notifications@github.com> ha scritto:

[2019-09-02 12:33] darionewmonday commented on #21
Yes. Can we do it? If so, how complex is it?

Are the data not yet available from Wikipedia?

Il lun 2 set 2019, 14:20 Deepak <notifications@github.com> ha scritto:

[2019-09-02 12:36] dev-ckln commented on #23
I picked the title tag from html.

[2019-09-02 12:58] dev-ckln commented on #17
We can add tracking for various things on our side but can't do that on wikipedia site.

[2019-09-02 13:03] dev-ckln commented on #19
How we can see categories and where we can see this kind of hierarchy, then maybe we can get a better idea.

[2019-09-02 13:14] darionewmonday commented on #17
Can you elaborate this pls?

Il lun 2 set 2019, 14:58 Deepak <notifications@github.com> ha scritto:

[2019-09-02 13:15] darionewmonday commented on #19
We spoke about this via email. You said that you had to look into the code
to see if we can go deeper with the data. That a limit was set, do you
remember?

Il lun 2 set 2019, 15:03 Deepak <notifications@github.com> ha scritto:

[2019-09-02 13:46] darionewmonday commented on #23
Is it clear now, what we need?

Il lun 2 set 2019, 14:36 Deepak <notifications@github.com> ha scritto:

[2019-09-02 14:36] ChristineDomgoergen commented on #17
Hi @darionewmonday,
so we need some figures on the usage of the tool itself:

- page views
- interaction parameters like link clicks etc.
- terms entered in the search field

--> these are things which probably can be tracked in the tool itself ("our side" if I understand Deepak's comment correctly)

Then we need some figures on the impact of the tool usage on edits of users.

- Do users edit afte

[2019-09-02 15:11] ChristineDomgoergen commented on #11
Hi @darionewmonday, could you upload the first screen as well, where users can click on the topic areas that are interesting for them? Thank you!

[2019-09-03 09:16] tobijat commented on #23
I think you're looking for this?
https://github.com/wmde/mitmachen/blob/master/www/python/src/static/mitmachen.js

[2019-09-03 09:19] darionewmonday commented on #23
Yes. For all 10 of those.

Thanks!

On Tue, Sep 3, 2019 at 11:16 AM Tobi Gritschacher <notifications@github.com>
wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2019-09-03 09:20] darionewmonday commented on #11
![Set up 2](https://user-images.githubusercontent.com/53903644/64160771-d34e6280-ce3c-11e9-8fe5-ad9e63bd06d8.jpg)
![Set up 1](https://user-images.githubusercontent.com/53903644/64160772-d34e6280-ce3c-11e9-9953-3429eddc8c4a.jpg)

[2019-09-03 09:34] dev-ckln commented on #23
Okay got it.

here's the title and tooltip combo

SUGGEST_INTRO: "Wie wäre es mit"

SUGGEST_OR: "oder"

PLEASE_WAIT: "Bitte warte einen Moment..."

NO_RESULTS: "Dazu haben wir leider nichts gefunden. Wie wäre es mit einem anderen Thema?"

MORE_RESULTS: "Zu diesem Thema gibt's noch mehr..."

LOAD_MORE: "neue Vorschläge anzeigen"

"Belege fehlen": "In diesem Artikel fehlen Belege. Recherchiere fehle

[2019-09-03 09:35] dev-ckln commented on #21
Yes we can implement this and this is not that complex.

We can store category click data, we don't get that from Wikipedia.

Also another way we can show most popular is categories which have more articles.

[2019-09-03 09:37] dev-ckln commented on #19
Yes I remember this, I was asking where we can view this whole thing like visually.

[2019-09-03 09:49] darionewmonday commented on #19
I have updated the layouts. You can find more on Figma, I have invited you.
Does it answer your question?

On Tue, Sep 3, 2019 at 11:37 AM Deepak <notifications@github.com> wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2019-09-03 09:50] darionewmonday commented on #21
@dev-ckln most popular is not "the most articles" but rather the most researched, edited, clicked etc. We will discuss this and get back to you thanks

@ChristineDomgoergen we need to discuss this since data are apparently not yet available= we need time to collect those.

[2019-09-03 09:52] darionewmonday commented on #23
@dev-ckln this is the right direction. I see you wrote 5 of them, there should be 10 in total. Can you find them?

Thanks

[2019-09-03 09:52] dev-ckln commented on #17
So there is two kind of data that we want , one is from our tool and that can be tracked very easily no problem in that for example:-

page views
interaction parameters like link clicks etc.
terms entered in the search field

But the tracking that we want after the user has been redirected to wikipedia is the tricky one , Give me time for today , I'll look for some table in the DB that we have for

[2019-09-03 09:54] darionewmonday commented on #17
@dev-ckln thank you. Please do not invest more than 1 hour researching this topic. If it's too complex, we must find a different solution or go just for the first option you have suggested. Thanks

[2019-09-03 10:02] dev-ckln commented on #23
Sure will update that

[2019-09-03 10:03] dev-ckln commented on #17
Okay Got it.

[2019-09-03 10:31] dev-ckln commented on #23
These are 5 more which I found in project.

"TITLE": "Mitmachen bei Wikipedia",
    "CLAIM": "Bei Wikipedia gibt es immer was zu tun...",
    "INTRO_TEXT": "Hier findest du kleine und größere Aufgaben in allen möglichen Wissensgebieten. Jedes Komma zählt - mit deinem Beitrag verbesserst du die größte Enzyklopädie der Welt für Millionen von Menschen!",
    "INTRO_QUESTION": "In welchem Themengebiet

[2019-09-03 10:37] tobijat commented on #19
The category tree in German Wikipedia can get very complex when going deeper. This is nothing you want to do with a simple SQL query. There are tools for this, the most powerful being https://petscan.wmflabs.org/. Still, you don't want to execute queries there for each user request of the mitmachen-tool. But it maybe helps with understanding and exploring categories on Wikipedia a bit better.
E.g.

[2019-09-03 10:42] darionewmonday commented on #23
ok thanks

On Tue, Sep 3, 2019 at 12:31 PM Deepak <notifications@github.com> wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2019-09-03 13:07] ChristineDomgoergen commented on #17
@darionewmonday @dev-ckln Yes, we can do this part of the tracking. The only thing to check from your side is if users are automatically logged in in Wikipedia when they log in in the tool, then leave the tool and go to Wikipedia.

And we should discuss if it makes sense to to establish oauth - the single log in in the tool, so we have a basis for further tracking in the future.

[2019-09-03 13:09] ChristineDomgoergen commented on #21
@darionewmonday okay, what are the possiblities here? Do I understand correctly that the question is: Which articles do we show in the most popular category until we have collected enough data in the tool itself?

[2019-09-03 13:14] ChristineDomgoergen commented on #23
@darionewmonday @dev-ckln Please stay with the 5 Wartungsbausteine which are already searched for in the tool and do not add the other 5. Thank you

[2019-09-03 13:22] darionewmonday commented on #21
@ChristineDomgoergen not exactly. We want to offer the most popular Topics (Movies is a category, Motorsportfilm is a Topic, Fast & Furious is an article)

Problem is: we don't have this data now.
Solution can be: instead of most popular, for the first 3 months we offer "Random topics" (like it is now),  we can collect the data and then swap.
@dev-ckln correct?

[2019-09-03 13:39] ChristineDomgoergen commented on #21
@darionewmonday okay, you mean Motorsportfilm is a subcategory, right? Because there are no "topics" in the system.

About the solution: if we keep it random we would need to exclude certain categories (see briefing) like "gestorben am" or certain maintenance categories. We could give you a list.

Other idea: check which articles are most interesting to readers https://tools.wmflabs.org/topviews/?

[2019-09-03 13:42] ChristineDomgoergen opened #24 "Mapping categories on user interests (first screen)"
@darionewmonday Follow up from the Kick-Off:
I checked if we can manually define a static list of categories for each of the suggested fields of interest on the first screen. We could with main categories but not with subcategories. We would use the 8 at the top here:https://de.wikipedia.org/wiki/Kategorie:Sachsystematik. The problem is that the tool - as far as I know - cannot automatically read

[2019-09-03 13:48] darionewmonday commented on #24
@dev-ckln can you please check the effort in using these categories as main categories to let the user define their main interests at the beginning of the user journey?

[2019-09-03 13:50] darionewmonday commented on #21
@ChristineDomgoergen to exclude certain categories is not a problem. It's in the brief and already done for the categories without any article to show.
Can you please add your blacklist on issue #14 pls?

thanks

[2019-09-04 07:36] ChristineDomgoergen commented on #21
@darionewmonday okay, will do by next week

[2019-09-04 08:44] darionewmonday opened #26 "DESIGN: Review the design of the Prototype"
Please take a look at the prototype.

How to do it:

1. [Open this link](https://www.figma.com/proto/RkkY3uy7fYE9PvBr4lNKx6/Mitmachen?node-id=323%3A1584&viewport=590%2C-441%2C0.36193355917930603&scaling=scale-down-width)
2.  use the arrows at the bottom of th epage to scroll "left-right" through the pages
3. Last page is page 7, ignore the others.

You can leave comments here. Thanks

@ChristineDo

[2019-09-04 11:11] ChristineDomgoergen commented on #26
@darionewmonday great, thank you. I will get back to this tomorrow.

[2019-09-04 11:27] darionewmonday commented on #26
One note:
I have tuned the green color to be Color-Contrast AAA approved.

[2019-09-05 08:16] ChristineDomgoergen commented on #26
@darionewmonday
So here is my feedback:
In general:

- all text needs to be in German and some of it needs to be updated (just to keep in mind). Please let us know in advance when you need the texts from us
- what will be behind the "Help" button in the top menu?
- top menu: log in and sign up are tbd depending if we can use oauth (https://www.mediawiki.org/wiki/OAuth) in the tool see issue #17
-

[2019-09-05 10:30] dev-ckln commented on #17
@tobijat
I was creating a tracking table in the DB but it shows the following error

`
ERROR 1290 (HY000): The MariaDB server is running with the --read-only option so it cannot execute this statement
`

Can you please check?

[2019-09-05 10:34] dev-ckln commented on #5
In the new design, this seems to be almost instant so we don't need to add javascript tooltip.

[2019-09-05 12:01] darionewmonday commented on #17
Mention Tobi pls

[2019-09-05 12:02] darionewmonday commented on #5
How do you show the information if not in a JavaScript tooltip?

Il gio 5 set 2019, 12:34 Deepak <notifications@github.com> ha scritto:

[2019-09-09 06:34] dev-ckln commented on #5
Every li element will have tooltip text below it, using css hover we can show. No need to add additional tooltip plugin/library.

[2019-09-09 07:38] darionewmonday commented on #26
@ChristineDomgoergen thanks for the feedback.
We have worked on a slightly different approach. I will post the link once ready for review (today or tomorrow)

Here my comments:

- You can edit the Figma file directly. The best would be if you could do the translations in the file directly. Once the layout will be 90% ready I will let you know how to. It's really easy.

- You can tell us. I was thi

[2019-09-09 07:46] darionewmonday commented on #14
@ChristineDomgoergen blacklist is needed

[2019-09-09 08:07] dev-ckln commented on #17
@tobijat DB permission is required

[2019-09-09 08:08] dev-ckln commented on #22
@darionewmonday , Please let me know once the design is approved. I will implement the same.

[2019-09-09 08:08] dev-ckln commented on #14
@darionewmonday , I will implement the same once I have the blacklist.

[2019-09-09 09:25] tobijat commented on #17
@dev-ckln here's the documentation about databases on toolforge:
https://wikitech.wikimedia.org/wiki/Help:Toolforge/Database#Connecting_to_the_database_replicas
Which DB did you connect to and tried writing to? The replica one is read-only.

[2019-09-09 11:15] dev-ckln commented on #17
@tobijat  Here are the steps that I follow to connect to DB
- ssh into server using my rsa key
- then I type `become mitmachen`
- and then to connect to DB, I type `sql dewiki_p`

Please let me know if something is wrong.

[2019-09-09 12:18] tobijat commented on #17
@dev-ckln `dewiki_p` is a replica of the live system and is read-only. You can't create new tables there. I think what you need is to connect to the ToolsDB (it's described in the link I've posted above), there you should be able to create own tables. Nothing more I can tell, as I've not worked with custom DBs on toolforge before.

[2019-09-09 15:00] darionewmonday commented on #26
We have elaborated a new version where the UX is more "round" and fluid.
The "preview" feature is still under concept.

https://www.figma.com/proto/RkkY3uy7fYE9PvBr4lNKx6/Mitmachen?node-id=380%3A361&viewport=-857%2C-32%2C0.34869682788848877&scaling=min-zoom

[2019-09-10 06:57] dev-ckln commented on #17
@tobijat  I checked the link and I think they won't allow us to connect to production or live database as is evident from the first line of the documentation.
Also I tried to find what other DBs are there on the server.
Here's a list of them, please let me know if any of them seems familiar to you in regard to being production or not

 aawiki_p
 aawikibooks_p
 aawiktionary_p
 abwiki_p
 abwiktionar

[2019-09-10 09:17] ghost commented on #8
@darionewmonday Wird es möglich sein, in dem iFrame direkt zu editieren?

[2019-09-10 09:18] tobijat commented on #17
@dev-ckln
exactly, you won't get access to the production live databases for obvious reasons. however, you get read-access to the replicas which contain the same data except for private user data.
if you need your own database (that's what I understand you want, right?), I just tried and managed to do the following:
`become mitmachen`
`mysql --defaults-file=replica.my.cnf -h tools.db.svc.eqiad.wmf

[2019-09-10 09:21] darionewmonday commented on #8
@LukasWMDE so weit dass ich verstanden habe, nein.

Wir überlegen jetzt an einen neuen Flow:

1) Mitmachen tool --> Artikel finden
2) Click auf Artikel
3) iFrame mit Info (mandatory zwischen Step)
4) Artikel auf Wikipedia

[2019-09-10 09:23] tobijat commented on #17
why is that an issue?

[2019-09-10 10:00] dev-ckln commented on #17
@tobijat Yes we need to store some new data, we need tables for that. From what I understand, you have created a new Database that would mean that our application would need to connect to 2 different databases.
Is that correct?

[2019-09-10 10:17] darionewmonday opened #27 "DEV: "Your topics": hard-coded main categories and sub-topics"
- We can provide a list of main topics "hand-picked" (e.g.: Movies, Travel, Art, ...)
- Then, we can provide a list of sub-topics per each category, e.g.: Movies ---> Action Film

The user will select her preferred "main topics" and get the topics and articles belonging to these Main Topics.

Main topics are provided from our list
subtopics as well.

[2019-09-10 10:18] darionewmonday commented on #27
@dev-ckln can you please evaluate the effort for this solution as replacement of the initial idea using real data?

[2019-09-10 10:51] dev-ckln commented on #27
Assuming that the hard coded main categories and sub-topics will have the articles in the database, and also please let me know is there any algorithm for sorting the searched articles if incase the search responds with a hundred of articles, if that is not the case then it is not that complex.

[2019-09-10 11:01] tobijat commented on #17
@dev-ckln
exactly. You need to connect to the replica(s) (can also be more than one DB, depending on which data you need) to get the data you need in order to run the application (e.g. category data, etc..). And you need to connect to your custom database in case you want to store and retrieve custum data.

[2019-09-10 11:03] tobijat commented on #17
@dev-ckln depending on what exactly you want to store in the custom database, you might consider using some alternative data structure. e.g. for a simple count, a text file might be enough..

[2019-09-10 13:09] darionewmonday commented on #27
it looks like this:

Level 3 - Articles: "Fast & Furious 6"   <---- this article is available in Wikipedia and in our DB
Level 2 - Topics: "Motorsportfilm" <---- this topic is in our DB, and it will be included hard-coded, together with e.g. "action film" in the Level 1
Level 1 - Main categories: "Movies" <--- this doesn't exist and can be hard-coded

is it more clear? @dev-ckln

thanks

[2019-09-11 04:52] dev-ckln commented on #27
@darionewmonday This is very much clear , but the only question is that do we need to have some sorting for the results shown after search , for example if we get 50 results , do we need to show these 50 results to the user in some specific order?

[2019-09-12 08:43] dev-ckln commented on #17
I have implemented the tracking at the tool end

[2019-09-12 08:47] dev-ckln commented on #17
So now we're tracking - search entered, which results users' clicks, which suggest category user clicks.

[2019-09-13 14:44] darionewmonday commented on #26
https://www.figma.com/proto/RkkY3uy7fYE9PvBr4lNKx6/Mitmachen?node-id=503%3A2985&viewport=-857%2C-32%2C0.34869682788848877&scaling=min-zoom

[2019-09-17 07:31] ChristineDomgoergen commented on #14
@dev-ckln Hi Deepak, this is the blacklist:

- all maintenance categories (see here https://de.wikipedia.org/wiki/Spezial:Kategorienbaum/Wikipedia:Wartung - please expand to see all levels of sub-categories)
- all with “geboren” followed by a year
- all with “gestorben” followed by a year

[2019-09-17 11:30] dev-ckln commented on #14
@ChristineDomgoergen How do I get blacklist categories?
How to use this tool?
Can you share some kind of a demo for this.

[2019-09-17 12:59] ChristineDomgoergen commented on #24
Hi @dev-ckln, in todays check- in we discussed the topic of categories and interests again.  So we have:

- interests = topics presented to the user via tiles/buttons to choose from. These have no representation within Wikipedia (We do it)
- categories = actual categories from Wikipedia. Each **interest** is comprised of a number of categories. The definition "Interest A contains articles and subc

[2019-09-18 05:23] dev-ckln commented on #24
Hey @ChristineDomgoergen
I am checking if these are the main categories
https://de.wikipedia.org/wiki/Kategorie:Sachsystematik
then how can we curate lists of all subcategories by using petscan. Will let you know asap.

And regarding storing the list of categories per interest , we can save that in the DB , now that we can create tables, no problem with that

[2019-09-18 09:47] dev-ckln commented on #24
Hey @ChristineDomgoergen ,
We can't use cron to fetch data from https://petscan.wmflabs.org/
Because they submit page on any query, Its not ajax based.

[2019-09-18 10:36] ghost commented on #26
Hi @darionewmonday
so you decided to go "full-screen" with the article-preview? I do like the "in your face" attitude about showing the required edits on top of the article! At the same time, I didn't quite get some aspects, about which I wanted to ask:

* how do you return to the list-view, if you end up not wanting to work on the article? I don't see an "X" or a "back" [UPDATE: Just found it - b

[2019-09-18 11:08] darionewmonday commented on #26
@LukasWMDE

It opens in a new browser's tag simply.

I do like the "in your face" attitude about showing the required edits on top of the article! At the same time, I didn't quite get some aspects, about which I wanted to ask:

See above. the "close" button will be removed

The article is shown entirely, until the end.

See above.

I don't get what you mean. Can you please sketch it and send it ov

[2019-09-18 12:35] ChristineDomgoergen commented on #14
@dev-ckln Hi Deepak, can't you retrieve them from the link above or via petscan query?

[2019-09-18 12:48] ghost commented on #26
Hi @darionewmonday ,
I see - didn't notice the "new tab"-approach. Answers quite some questions!

Here a scribble of what I mean by "listy". Of course, it's far from looking nice:

![image](https://user-images.githubusercontent.com/55130789/65149889-40f4b400-da23-11e9-9567-24ec61e65aa9.png)

[2019-09-18 12:52] darionewmonday commented on #26
@LukasWMDE thanks for the sketch.

In your version we show article views which was not mentioned nor I believe brings much value to users.
Then you have 3 columns for the errors, about it:
- the errors are 5 (very not much relevant)
- we show a series of checkmarks blended in the page where they are not relevant "Fast & furious" has 2 to-dos, how many "not to-dos" it has is not really relevant
- m

[2019-09-18 16:37] tobijat commented on #24
@dev-ckln @ChristineDomgoergen
Never did anything with petscan, so I took 5 minutes and looked into the documentation: https://meta.wikimedia.org/wiki/PetScan/en

Then I did the following:
I've created the following example query on petscan (note that every query on petscan is recorded by a PSID and you can use this PSID to re-run the same query whenever you want):
https://petscan.wmflabs.org/?psi

[2019-09-18 16:47] darionewmonday commented on #24
Thanks Tobi for your 5-minutes ;)
Next time let's start directly with this investigation to speed up the whole process.

@dev-ckln
Thanks for checking this out.

[2019-09-19 06:37] dev-ckln commented on #14
@ChristineDomgoergen Got it , I have started working on it

[2019-09-19 08:00] darionewmonday opened #28 "Provide the links for the footer"
@ChristineDomgoergen can you please help me to list the links for the footer?
thanks!!

https://www.figma.com/proto/RkkY3uy7fYE9PvBr4lNKx6/Mitmachen?node-id=480%3A1275&viewport=-386%2C493%2C0.18455646932125092&scaling=min-zoom

[2019-09-25 06:41] dev-ckln commented on #21
@darionewmonday If I am Correct , We need to save the data for popular topics (most opened , clicked)
for first 3 months  and for now show random categories excluding the blacklist  right?

[2019-09-25 06:48] darionewmonday commented on #21
@ChristineDomgoergen @tobijat can you please help here?

Do you want to give us 10 categories from https://tools.wmflabs.org/topviews/?project=de.wikipedia.org&platform=all-access&date=last-month&excludes=

or do we follow what @dev-ckln is suggesting?

thanks

[2019-09-25 06:49] darionewmonday opened #29 "CONTENT Provide contents and links for the Help panel on bottom right of the screen"
@tobijat @ChristineDomgoergen can you please help us with contents and links for the "Need Help?" panel?

thanks

[2019-09-25 12:30] dev-ckln commented on #1
@tobijat @ChristineDomgoergen  @darionewmonday Can you please publish the code till now that I have pushed and share the url , so that same can be tested. Or if the code is being automatically published, please share the url.

Thanks

[2019-09-26 08:08] tobijat commented on #1
@dev-ckln
Here's the link: https://tools.wmflabs.org/mitmachen/ (currently showing the old version, as you haven't cloned the new repository yet).

Please log into the tool-forge account, clone the repository and check-out your branch. You are then able to test the tool under https://tools.wmflabs.org/mitmachen/

We are going to test and accept the user stories via the same URL. We are going to lo

[2019-09-26 12:35] dev-ckln commented on #1
@tobijat
Currently on this link :- https://tools.wmflabs.org/mitmachen/
This repo is  running :- https://github.com/ionicsolutions/mitmachen.git

And I do not have the access to the same , so I am not able to deploy the code there.
I have pushed all my code in this repo :- https://github.com/wmde/mitmachen
On Fixing_issues branch

Please let me know how to proceed.

[2019-09-26 13:21] tobijat commented on #1
@dev-ckln
The instance is yours. You can delete everything there and clone from the repository where you've pushed your code to. You can use and configure the instance as you need.

[2019-09-27 10:39] dev-ckln commented on #1
@tobijat  you are using Kubernetes for hosting. I don't know how to use that. can you please help me in that.

[2019-09-27 10:48] dev-ckln commented on #1
@tobijat Now that I have updated the code, I had run `webservice restart` to restart the webservice with new code.But this runs into error.
This is what I get
Could not find a public_html folder or a .lighttpd.conf file in your tool home.Type a message

[2019-09-27 10:48] tobijat commented on #1
@dev-ckln I've not used Kubernetes before. But you don't need to use Kubernetes to clone the repository. Just ssh to the tool, remove the directory with the old version, do a git clone of the repository with your code, check out the branch with your changes and get your code running. That's it.

[2019-09-27 10:51] dev-ckln commented on #1
@tobijat I did all those steps.But still not working. You can login into the server and see that it has the updated code there. But the link is not displaying the code.

[2019-09-27 10:52] tobijat commented on #21
@darionewmonday this is a PM question I need to delegate to @ChristineDomgoergen

[2019-09-27 10:55] tobijat commented on #29
@darionewmonday this is a PM question and I need to delegate it to @ChristineDomgoergen

[2019-09-27 11:11] tobijat commented on #1
@dev-ckln I think this is the documentation you have to look at: https://wikitech.wikimedia.org/wiki/Help:Toolforge/Web#Python_(uWSGI)
I don't have any experience with Python environments, so I can't help with that. Only thing I did right now was restarting the webservice, so at least the old code isn't executed anymore.

[2019-09-27 13:51] tobijat opened #30 "Deployment: setting up the Python app on ToolForge"
We are currently struggling to deploy the refactored Python-App on https://tools.wmflabs.org/mitmachen/ (too much of a lack in Python Webservice skills over here it seems).

Following https://wikitech.wikimedia.org/wiki/Help:Toolforge/Web#Using_virtualenv_with_webservice_shell is resulting in a 502 Bad Request Error.

[2019-09-30 07:26] tobijat commented on #30
@dev-ckln
Documentation about flask python app on Toolforge: https://wikitech.wikimedia.org/wiki/Help:Toolforge/My_first_Flask_OAuth_tool

[2019-09-30 10:10] darionewmonday opened #31 "CONTENT - Contents for the home page text"
@ChristineDomgoergen

[2019-09-30 10:12] darionewmonday opened #32 "CONTENTS - Translation to German language"
@ChristineDomgoergen
Invitation to Figma "edit mode" sent on 10.09.2019 12:12 uhr.

[2019-10-03 09:10] dev-ckln commented on #21
@darionewmonday: As discussed in task 27 that you will give us 10 handpicked popular topics to be displayed and we will show articles related to them. Kindly let me know by when I can expect them?

[2019-10-03 09:30] darionewmonday commented on #21
Next week.

Can you set up the tool with some other placeholder topics?

On Thu, Oct 3, 2019 at 11:10 AM Deepak <notifications@github.com> wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2019-10-03 09:31] dev-ckln commented on #21
@darionewmonday  Yes, we can.

[2019-10-07 10:21] darionewmonday opened #33 "Topics´name can´t be broken logically since words are connected with a "_""
<img width="250" alt="Screenshot 2019-10-07 at 12 19 17" src="https://user-images.githubusercontent.com/53903644/66304147-d980a480-e8fc-11e9-95fd-2032b34636c3.png">

The Topics´name are coming from the DB separated by a "_" thus it´s not possible to split the words over lines logically. What do you think @tobijat  ?

[2019-10-08 07:32] tobijat commented on #33
@darionewmonday I'm not sure I understand the problem correctly. Is that a new problem that comes with new functionality, or did that problem exist with the old tool already? How did the old tool solve it?
My naive approach would be to replace underscores with spaces before the names are served to the frontend. Is there a problem with this approach?

[2019-10-08 07:42] darionewmonday commented on #33
We´ll try your suggestion.

thanks @tobijat

[2019-10-11 12:23] #30 closed

[2019-10-11 12:24] tobijat opened #34 "Dev: add tests"
Please add some basic unit tests for the core methods in app.py and api.py.

[2019-10-11 12:32] tobijat opened #35 "Dev: deploy tool on https://tools.wmflabs.org/mitmachen"
Right now, the tool is deployed on https://tools.wmflabs.org/mmt which was created for testing purposes.
The final version of the tool should be deployed to https://tools.wmflabs.org/mitmachen (where the old version of the tool was living).

[2019-10-11 12:37] tobijat opened #36 "Dev: add deployment guide to README"
Please add a short guide to the README explaining what steps needs to be done to get the tool running on Toolforge after cloning the repository.
e.g.:
- which DB tables need to be created and how to create them?
- where do the DB name and DB password have to be adjusted/changed?
- how to set-up the included cron job?
- any additional setup scripts that need to be executed?
- anything else that nee

[2019-10-11 12:43] tobijat opened #37 "Articles of wrong category is shown when using the search bar and then going back to my interests"
Steps to reproduce:
* go to https://tools.wmflabs.org/mmt/
* select "Geographie"
* click on "Show me Articles"
-> List of articles about "Geographie" is shown
* click inside the search field and type "Katzen"
* select "Katzen" from the dropdown
-> List of articles about "Katzen" is shown
* click on "your interests"
**-> Still the list of articles about "Katzen" is shown
-> It should be a list of a

[2019-10-11 12:43] tobijat commented on #37
@dev-ckln @NewMonday

[2019-10-11 12:43] tobijat commented on #36
@dev-ckln @NewMonday

[2019-10-11 12:43] tobijat commented on #35
@dev-ckln @NewMonday

[2019-10-11 12:44] tobijat commented on #34
@dev-ckln @NewMonday

[2019-10-16 13:21] ChristineDomgoergen opened #39 "DEV: ad break between article short text and "preview article""
In my computer (Linux, Mozilla) there is no break between the introductory text and the "preview article". I think in the Mock-Up "preview article" was next to the label "Belege fehlen", which indicates the kind of task. See screenshot below. Could you fix this @dev-ckln? Thank you!
![Screenshot_2019-10-16 Mitmachen in Articles](https://user-images.githubusercontent.com/53897140/66923072-7d1e3300-

[2019-10-16 13:26] darionewmonday commented on #39
Hi Christine,

we have changed the design to have the "Preview Article" following the
description text. We feel is more natural and creates more dynamic. The
user makes a clear difference between the title of the article, the
description, and the following article.

We would prefer to leave it like this.

Thanks!

On Wed, Oct 16, 2019 at 3:21 PM Christine <notifications@github.com> wrote:

--

Mit

[2019-10-16 13:30] ChristineDomgoergen commented on #39
Hi Dario, thanks for the quick reply. We would like to have it more visible. I have gotten quite a bit user feedback, that the "preview artticle" wasn't noticed at all.

[2019-10-16 13:56] darionewmonday commented on #39
@dev-ckln Please place the "Preview Article" blue button after the description, between the description and the task "Belege fehlen etc."

Please make sure that the spacing is correct= nicely distributed with the same amount of white room between the lines.

Thanks!
@NewMonday

[2019-10-18 09:23] ChristineDomgoergen opened #40 "DEV: enable Log-In and Sign Up with single Log In"
Hi @dev-ckln,
the Log-In and Sign-Up links in the top bar menu do not work yet. Can you fix this? We want to have OAuth enabled here, so that you can log in with your Wikipedia-Account (single log in). Here is some documentation on that: https://www.mediawiki.org/wiki/OAuth/For_Developers
Thank you!
@NewMonday just fyi

[2019-10-18 13:41] ChristineDomgoergen commented on #31
@NewMonday @dev-ckln
Please correct the **German Text in the Filter Tasks Menu.**
1. We need Ü (with dots above) in the following words (see screenshot):
UNGEPR**Ü**FTER LINK
L**Ü**CKENHAFT

2. And there is a space missing in the last one, correct it is: "NUR LISTE"

3. The tooltip text for "NUR LISTE" is not correct. At the moment it is the same as "BELEGE FEHLEN". It should be correct "Dieser Ar

[2019-10-18 14:49] ChristineDomgoergen commented on #32
@NewMonday @dev-ckln Hi Deepak, Hi Jana, I have updated the translation doc: https://docs.google.com/spreadsheets/d/1iUMMoTtJwcOg1_6eN213EvtT51LaLqhYAgnudRkMNjQ/edit?ts=5da0265a#gid=0

Please note, that there is a need of updating also some other texts on page 3, I will get back to you about that next week

[2019-10-18 14:51] ChristineDomgoergen commented on #29
@NewMonday @dev-ckln I added this in the translation doc, see issue #32

[2019-10-22 14:38] ChristineDomgoergen commented on #17
@dev-ckln @NewMonday How can we test the tracking and how do we get access to the data?

[2019-10-23 12:32] dev-ckln commented on #36
readme.md file is created and shared @Dario. Cant attach it here as .md files are not supported here.

[2019-10-23 12:33] dev-ckln commented on #35
Tool is now deployed on https://tools.wmflabs.org/mitmachen

[2019-10-23 12:34] dev-ckln commented on #33
As discussed, underscores are replaced by space in Topic names.

[2019-10-23 12:35] dev-ckln commented on #27
Top Categories are hard coded .

[2019-10-23 12:36] dev-ckln commented on #23
5 to dos and tooltip are implemented.

[2019-10-23 12:37] dev-ckln commented on #22
Front end of the tool is developed and implemented.

[2019-10-23 12:38] dev-ckln commented on #21
Most popular topics are hard coded now.

[2019-10-23 12:40] dev-ckln commented on #19
Parent category is shown as discussed.

[2019-10-23 12:41] dev-ckln commented on #18
Total number of articles are shown now.

[2019-10-23 13:12] dev-ckln commented on #16
Only those categories are shown which have suggestions.

[2019-10-23 13:16] dev-ckln commented on #15
search results are not loaded when user leaves the page

[2019-10-23 13:17] dev-ckln commented on #14
Mentioned categories are excluded from search and suggestions

[2019-10-23 13:17] dev-ckln commented on #13
Space is ignored now in search bar

[2019-10-23 13:18] dev-ckln commented on #12
Now tool searches within words and phrases

[2019-10-23 13:23] dev-ckln commented on #4
Fixed

[2019-10-23 13:23] dev-ckln commented on #3
Links are opening now in new tab

[2019-10-24 04:38] dev-ckln commented on #40
@ChristineDomgoergen @darionewmonday  Please provide consumer key and consumer secret  for url https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration/propose

[2019-10-24 05:03] dev-ckln commented on #39
@darionewmonday Preview Article button is placed between description and the task.

[2019-10-24 05:22] #1 closed

[2019-10-24 05:23] #3 closed

[2019-10-24 05:23] #4 closed

[2019-10-24 05:23] #13 closed

[2019-10-24 05:23] #14 closed

[2019-10-24 05:23] #15 closed

[2019-10-24 05:23] #16 closed

[2019-10-24 05:25] #18 closed

[2019-10-24 05:25] #19 closed

[2019-10-24 05:26] #22 closed

[2019-10-24 05:26] #23 closed

[2019-10-24 05:34] #33 closed

[2019-10-24 05:35] #39 closed

[2019-10-24 05:35] #37 closed

[2019-10-24 05:35] #35 closed

[2019-10-24 05:59] #36 closed

[2019-10-24 05:59] #34 closed

[2019-10-24 06:00] dev-ckln commented on #20
I have added unit tests in a file.

[2019-10-24 06:00] #20 closed

[2019-10-24 07:47] #10 closed

[2019-10-24 07:55] #7 closed

[2019-10-24 08:14] ChristineDomgoergen opened #41 "BUG: Task Filter Message"
@dev-ckln @NewMonday
I tried to find tasks in the "veraltet" category.
--> I selected all interests in step 1
--> I filtered the results to show only tasks in the "veraltet" category
--> no articles were shown but the message "XX articles found for Mythologie" remained

--> if there are no articles in the selected task category there should instead be a message stating that no articles are found:

[2019-10-24 08:18] ChristineDomgoergen opened #42 "BUG? No Tasks in the Category "ungeprüfter Link" are shown"
@dev-ckln @NewMonday
I tried to find tasks in the category "ungeprüfter Link" but could not find any. Some time ago, this was the most common type of task. Could you please investigate, if those types of tasks are still being selected correctly? Thank you.

Edit: This seems to be only an issue, when using the interest selection. The articles with the category "ungeprüfter Link" are shown as expect

[2019-10-24 08:25] dev-ckln commented on #17
@ChristineDomgoergen  We are saving this information in one of tables in our database. But it's not being shown on frontend anywhere.

[2019-10-24 08:26] NewMonday commented on #40
@tobijat könnt ihr den consumer key @dev-ckln bereitstellen? Danke

[2019-10-24 08:35] #27 closed

[2019-10-24 08:35] ChristineDomgoergen opened #43 "DEV: Search: Load more Button does not load more results, article number not correct"
@dev-ckln @NewMonday
When I enter a search term in the search bar and get more than 10 results two things do not work as expected:
1. when I scroll down to the load more button and click the button, the article selection does not update (I tried with the terms "Gedicht" and "Roman Epik")
2. the number of found articles is displayed as 10. If there are more results this should reflect in the displa

[2019-10-24 08:41] ChristineDomgoergen opened #44 "DEV: Do not change capital letters of search terms"
@dev-ckln @NewMonday
When I enter a search term, e.g. "Film" and then select from the suggestions "Film" the term in the search bar and the term in the message about the number of found articles is automatically changed to non-capital letters "film" and "9 articles found for film" . This should not happen, it should stay in capital letters if the suggested category starts with a capital letter. Ca

[2019-10-24 08:46] ChristineDomgoergen commented on #12
@dev-ckln I checked and it does not work yet. If I search for "Westfalen" I still don't get suggestions for "Nordrhein-Wesfalen". Could you check please?

[2019-10-24 08:59] ChristineDomgoergen opened #45 "BUG? No articles found in "Kunst und Kultur""
@dev-ckln
When I select the interest "Kunst und Kultur" no articles are found. Can you please check, I think there must be a problem with the query behind it. It should find articles from this category and ALL sub-categories: https://de.wikipedia.org/wiki/Kategorie:Kunst_und_Kultur

[2019-10-24 09:17] ChristineDomgoergen opened #46 "BUG: when selecting interests after searching via the search bar the results for the interests are not shown"
@dev-ckln When searching via the search bar and then selecting interests, the search bar results are still being shown. Can you please check? The following happened:

I entered a term in the search bar (e.g. Film).
I got the results for Film
I clicked on Your interests (--> no previously selected interests)
I clicked on Edit
I selected one interest (e.g. Geographie)
I clicked on Update
I was redir

[2019-10-24 09:21] NewMonday commented on #17
@dev-ckln and how do we get access to the data/ the table in your database?

[2019-10-24 09:40] ChristineDomgoergen opened #47 "Task filter does not filter new searches via search bar"
@dev-ckln Hi Deepak, the task filter does not filter new searches:

I selected two types of tasks in the task filter
I entered a search term in the search bar (e.g. Gedicht)
I clicked return
I got results including all types of tasks

I expected to see only results for the selected types of tasks

Could you please check?

[2019-10-24 09:51] tobijat commented on #40
@NewMonday @dev-ckln
We would need to know which "callback url" to specify and which grants the application needs.

@ChristineDomgoergen
IMO the request should be done by your team as you are the ones owning and running the tool and the site. We can fill out the request together, but your team should be the main contact.

[2019-10-24 11:00] dev-ckln commented on #46
Please check now.

[2019-10-24 11:00] #46 closed

[2019-10-24 11:00] dev-ckln commented on #45
Please check now.

[2019-10-24 11:00] #45 closed

[2019-10-24 11:36] dev-ckln commented on #40
@tobijat  Here is the callback url "https://tools.wmflabs.org/mitmachen/oauth-callback"

[2019-10-24 11:37] dev-ckln commented on #12
Please check now.

[2019-10-24 11:38] dev-ckln commented on #32
@ChristineDomgoergen  I have updated the translations except login and sign up  as German translations for these two buttons are too big which will break the designs. Can you provide us the alternate translations for these two?

[2019-10-24 14:01] ChristineDomgoergen commented on #12
@dev-ckln yes it works, but now the suggestions are sorted by alphabet. Is it possible to sort by relevance = the exactness of the matching of search term and suggested category? So for example when I search for Film, the first suggestion should be Film.

[2019-10-24 14:13] ChristineDomgoergen commented on #45
@dev-ckln Perfect, thank you

[2019-10-24 14:13] LukasWMDE opened #48 "Show category-selection / update-button above the fold (without scrolling)"
As user
I want to see the "update"-button when selecting desired categories
In order to not asking myself "what now" after having selected them.

-> currently, for large screens/desktop-pc's, the "update" button is out of sight / below the fold

![image](https://user-images.githubusercontent.com/55130789/67493045-97cf5800-f677-11e9-84e4-a4c5e8d4d913.png)

(there seems to be a breakpoint at 1200px

[2019-10-24 16:11] ChristineDomgoergen commented on #17
@dev-ckln @tobijat
Hi Deepak, we would need access to the data not in a developed frontend but a simple URL would be good, where we can access this data:

- page views: should be stored daily and there should be the possibility to select the time span, for which then the page views will be shown
- interaction parameters: per month aggregated number of users who click on article preview, on the lin

[2019-10-25 07:35] dev-ckln commented on #44
@ChristineDomgoergen Done. Please check and verify.

[2019-10-25 07:35] dev-ckln commented on #42
@ChristineDomgoergen Done. Please check and verify.

[2019-10-25 07:36] dev-ckln commented on #41
@ChristineDomgoergen Done. Please check and verify.

[2019-10-25 07:37] dev-ckln commented on #31
@ChristineDomgoergen  Done. Please check and verify.

[2019-10-25 08:03] dev-ckln commented on #42
@ChristineDomgoergen Couldn't find anything for this, also noticed that previous code didn't even have that category.

[2019-10-25 09:13] ChristineDomgoergen commented on #42
@dev-ckln Yes it did. When you enter search terms in the search bar you still get tasks from that category "Ungeprüfter Link" (Try with "Gedicht" for example) but not when you start with your interests.

[2019-10-25 09:15] ChristineDomgoergen commented on #31
@dev-ckln Thank you. The explanation text for the last two (Veraltet and Nur Liste) is still incorrect, I added the information in the translation sheet, so we can keep this issue closed and resolve in the other one.

[2019-10-25 09:20] ChristineDomgoergen commented on #41
@dev-ckln Thank you.

There is the message now, when I select the task type after I did the search. But then this is what happened:

--> I selected all interests in step 1
--> I filtered the results to show only tasks in the veraltet categegory
--> I got the message: 0 Artikel gefunden in Veraltet --> great!
--> I reloaded the results (click on Kategorien neu laden)
--> I was shown tasks from all

[2019-10-25 09:23] ChristineDomgoergen commented on #44
@dev-ckln Thank you. It is fixed for the Search Bar --> great! The display of the term should be the same in the search bar and in the message "X Artikel gefunden für SEARCH TERM". See screenshot. Could you check again?
![Screenshot_2019-10-25 Mitmachen in Articles](https://user-images.githubusercontent.com/53897140/67559723-ce5daf00-f719-11e9-9a48-92772398f42f.png)

[2019-10-25 09:25] ChristineDomgoergen commented on #32
@dev-ckln Thank you. Laura and Jana probably have told you, that the translations are not completely finished yet, we will notifiy you when they are completely done. Then we will also provide alternatives for the Log-In.

[2019-10-25 09:29] ChristineDomgoergen commented on #46
@dev-ckln Looks good, thank you

[2019-10-25 09:38] ChristineDomgoergen commented on #21
@dev-ckln Hi Deepak, we got some user feedback on this: can you replace the placeholder topics with all from the interest category "Gesellschaft" instead? Thank you!

[2019-10-25 09:43] ChristineDomgoergen commented on #29
@dev-ckln Thank you for updating. Could you add a break between the last two sentences (which should also reduce the width of the panel a bit) and add some more white space below the last sentence? Also some links are not correct:

Du brauchst Hilfe?
Lerne, wie man Artikel bearbeitet in Online-Trainings **--> should open in new tab**
Finde Hilfe in der Wikipedia:

- Startseite für neue Autorinnen

[2019-10-25 14:30] dev-ckln commented on #48
@LukasWMDE If you need pop-up without scroll then we need to optimise little design changes like decrease the height of boxes with updating some spaces. With new design optimisations the pop up will look like this. Please check and confirm.
![image](https://user-images.githubusercontent.com/48859836/67579381-012b9580-f762-11e9-892b-832a9dce55b8.png)

[2019-10-25 18:02] darionewmonday commented on #48
It looks better with squared boxes. A solution can be to move the button on
top of the squares rather than leaving it below.

Il ven 25 ott 2019, 10:30 Deepak <notifications@github.com> ha scritto:

[2019-10-28 06:56] ghost commented on #48
I see 3 options:
* reduce space above pop-up for screens above 1200 px (@dev-ckln , could you please comment on feasability? This would keep the pop-up the way it is, just move it a little higher)
* reduce height of tiles (my 2nd choice: I actually kind of like the rectangular tiles)
* move update-button on top (my 3rd choice: would lead either to differences between mobile and desktop or reduce m

[2019-10-28 13:06] ChristineDomgoergen commented on #40
@tobijat @dev-ckln Hi Tobi, hi Deepak, so let's assume users can log in in the tool or the tool somehow stores, that users are logged in with their Wikipedia user account. Does one of you know, if, any WMF (or other?) database would store, which users use the tool? Could we retrieve the data somehow? And if yes, how? Thank you!

[2019-10-28 17:03] darionewmonday commented on #48
Hi everyone,

I suggest to go for the low hanging fruit option (number 3) since basically
everything is feasible but listed under change request, meaning we have to
calculate a budget for the change.

Nevertheless, to move a button is not a big deal.

Thanks!

Il lun 28 ott 2019, 02:56 LukasWMDE <notifications@github.com> ha scritto:

[2019-10-29 11:01] ChristineDomgoergen commented on #40
@dev-ckln @darionewmonday @tobijat So we checked with the data analyst and the tracking via log in is at the moment not feasible. So we will not implement it in this iteration. Please remove the buttons in the top menu and please let us concentrate on the tracking of the tool usage in the other issue #17

[2019-10-29 15:50] tobijat opened #49 "Code Review"
@dev-ckln @darionewmonday @NewMonday
Here you can find the code review including all comments:
https://github.com/wmde/mitmachen/pull/38 and
https://github.com/wmde/mitmachen/pull/38/files

[2019-10-29 16:39] ChristineDomgoergen commented on #28
https://docs.google.com/spreadsheets/d/1iUMMoTtJwcOg1_6eN213EvtT51LaLqhYAgnudRkMNjQ/edit?ts=5da0265a#gid=1206253069

[2019-10-30 08:30] darionewmonday opened #50 "DESIGN: Interests Pop-up to open automatically if I don´t have any interest preselected"
@dev-ckln

If I have no interests selected already and I come to the page "my interests", the pop-up has to open automatically and prompt the selection.

Thanks

[2019-10-30 08:32] darionewmonday commented on #48
@dev-ckln please move the button up, top-right corner.

[2019-10-30 08:36] tobijat commented on #49
@dev-ckln
If you're fixing the issues from the code review, can you reply to the comments of thiemowmde and resolve the conversation, so we know what has been done and what's still open.

Thanks!

[2019-10-30 11:48] ChristineDomgoergen commented on #32
@darionewmonday all texts and links are final now! Thank you

[2019-10-30 13:20] dev-ckln commented on #50
@darionewmonday
It is done

[2019-10-30 13:46] dev-ckln commented on #47
@darionewmonday
It is done

[2019-10-30 13:49] dev-ckln commented on #41
@darionewmonday
It is done. Please check

[2019-10-31 09:03] ChristineDomgoergen commented on #41
@dev-ckln @darionewmonday  Hi Deepak, thank you for looking into this. Now what happens is:

--> I selected all interests in step 1
--> I filtered the results to show only tasks in the veraltet categegory
--> I got the message: 0 Artikel gefunden in Veraltet --> great!
--> I reloaded the results (click on Kategorien neu laden)
--> I was shown no articles for "Kulturwirtschaft" (probably because th

[2019-10-31 09:05] darionewmonday commented on #41
Hi,

didn´t we say that we won´t display Categories with 0 articles to be fixed?
I assume that´s the bug. @dev-ckln

[2019-10-31 09:06] ChristineDomgoergen commented on #41
@darionewmonday No this is about categories with articles to be fixed but not articles in all task categories (veraltet, Belege fehlen etc.)

[2019-10-31 09:07] ChristineDomgoergen commented on #47
@dev-ckln @darionewmonday Thank you, looks better now. Like in Issue 41 the message I get needs to be updated because right now it only refers to the type of task "1 Artikel gefunden in Lückenhaft" but should still refer to the search term as well "1 Artikel gefunden in Gedicht und Lückenhaft"

[2019-10-31 09:10] ChristineDomgoergen commented on #50
@dev-ckln Now when I enter a term in the search bar and click return the pop-up opens. This is not correct. I expect to see search results. The pop-up should only open if I click on "Deine Themen" and have no interests preselected

[2019-10-31 09:11] ChristineDomgoergen commented on #44
@dev-ckln Great, looks good now, thank you

[2019-10-31 09:12] ChristineDomgoergen commented on #43
@dev-ckln @darionewmonday Hello Deepak is there any update on this? This should be fixed by tomorrow since this is a serious bug, thank you!

[2019-10-31 09:16] ChristineDomgoergen commented on #42
@dev-ckln @darionewmonday I can still reproduce this bug, could you look into this? If you have to prioritize for the launch tomorrow it would be B priority (=can also be fixed later than tomorrow)

[2019-10-31 09:16] #40 closed

[2019-10-31 09:22] ChristineDomgoergen commented on #32
@dev-ckln @darionewmonday All texts are final now in the spreadsheet, please double check if they are trasnferred correctly. There are still some translations missing or incorrect for example in:

- in the interests pop-up (all Englisch, also Wissen should be changed to "Wissenschaft")
- the task filter menu
- the help panel (last sentence + link is not shown)
- the main page
- the footer (please

[2019-10-31 09:23] #29 closed

[2019-10-31 09:23] #26 closed

[2019-10-31 09:25] ChristineDomgoergen commented on #17
@dev-ckln @darionewmonday This has no priority for the launch tomorrow. Please tag me as soon as you have an update on this!

[2019-10-31 09:27] ChristineDomgoergen commented on #12
@dev-ckln @darionewmonday Do you have an update on this? Without the sorting by relevance the search is not user friendly at all. This should be solved by tomorrow.

[2019-10-31 09:27] #8 closed

[2019-10-31 09:28] #6 closed

[2019-10-31 09:28] #2 closed

[2019-10-31 09:39] darionewmonday commented on #12
@ChristineDomgoergen this is not considered as a bug. We can evaluate the effort and let you know if you want.

[2019-10-31 10:00] darionewmonday commented on #17
@ChristineDomgoergen the tracking was included in the initial offer. The request to display the data in a custom way, as per your request, can take days of development, thus we need to discuss the effort and evaluate the best way to get you the data.
@dev-ckln can you provide us with an estimation, to get the features @ChristineDomgoergen is asking for?
thanks

[2019-10-31 10:04] darionewmonday commented on #50
@dev-ckln

WHEN
the user has not selected any interest yet
AND
clicks on the "Deine Themen" button
ONLY THEN
when the page loads, the popup with interests must open

IF
the user has already selected some interests
AND
clicks on "Deine Themen"
WHEN
the page loads
THEN
do not open the pop-up automatically
BUT
open it only when the user clicks on "edit interests"

[2019-10-31 11:39] ChristineDomgoergen commented on #12
@darionewmonday @dev-ckln Okay, but then this search feature is useless. Please do not search within words or phrases then just like it was before

[2019-10-31 12:56] darionewmonday commented on #12
@ChristineDomgoergen actually no. The feature to search within words is really helpful, it´s the first thing I have noticed from the old tool.
I mean, the relevance order of the results, is a different topic.

[2019-10-31 14:08] ChristineDomgoergen commented on #12
@darionewmonday In general in other contexts this is a nice feature - in this case, because there are so many topic categories I think it is quite useless if we don't sort the search results by relevance. Try with "Film": now you don't get "Film" but alphabetically sorted suggestions for film from numbers to A (afganischer Film, albanischer Film...) -- because there are only the top 10 suggestions

[2019-11-01 07:57] ChristineDomgoergen opened #51 "Bug: Filter by Task autmatically set on "no selection""
@dev-ckln @darionewmonday
The task filter is per default set on no tasks selected, when I change the selection of my interests.

This is what happens:
--> I select my interests and find articles as usual --> all good
--> I click on Auswahl ändern and change the selection in the Pop-Up (which is not translated yet!)
--> I find 0 articles.

I checked and it is not because there are not articles but

[2019-11-01 08:00] ChristineDomgoergen opened #52 "Content: Translate "My Interests Pop-Up""
@dev-ckln @darionewmonday Please quickly update translations for "My interests Pop-Up" --> the texts should be the same as on the main page (see two screenshots attached).
![Screenshot_2019-11-01 Mitmachen](https://user-images.githubusercontent.com/53897140/68010862-05861000-fc86-11e9-8bfc-3f6f767bfbb0.png)
![Screenshot_2019-11-01 Mitmachen in Articles](https://user-images.githubusercontent.com/53

[2019-11-01 08:41] ChristineDomgoergen commented on #41
@dev-ckln This looks good now! Only one thing in the translation: could you exchange the "and" between categories and task types in the message with an "und" (see screenshot). Thank you!
![Screenshot_2019-11-01 Mitmachen in Articles(1)](https://user-images.githubusercontent.com/53897140/68012934-cce93500-fc8b-11e9-88cb-e4df16aaf128.png)

[2019-11-01 09:49] ChristineDomgoergen opened #53 "Performance Issues?"
Hi @darionewmonday @dev-ckln I had some performance issues, one time 502 bad gateway, and another error (see screenshot). Not sure if it is a general problem or just punctually, can you please check?
![Screenshot_2019-11-01 Mitmachen in Articles(2)](https://user-images.githubusercontent.com/53897140/68016532-168a4d80-fc95-11e9-86c0-86572c847d26.png)

Edit: two times 502 when refreshing the page

[2019-11-01 09:52] ChristineDomgoergen opened #54 "No interest pop-up when clicked on my interests"
@darionewmonday @dev-ckln When I click on my interests afterthe tool now reloads the topics:
--> i select interests and click on update
--> i see article results
--> i click on my interests again
--> for a second the old transition page appears (with the "Interessen bearbeiten" button) and then the categories (topics) are reloaded and new results are shown

I would expect instead to open the selec

[2019-11-01 09:56] darionewmonday commented on #54
@ChristineDomgoergen let us check.

The popup should open only in 2 cases:
1) Automatically, when the user hasn´t picked any interest yet and I open "my interests page"
2) When I click "update interests"

[2019-11-01 09:58] ChristineDomgoergen opened #55 "Bug: previous interest selection shown but not included in search"
--> I refresh the page or go back to the main page (e.g. via the Logo in the top menue)
--> the previously selected interests are still shown and marked green
--> I click on update
--> I get a message: no results found
--> I go back to my interests and there are no interests preselected anymore

--> I would instead expect to get results for the preselected interests

[2019-11-01 10:02] dev-ckln commented on #53
@darionewmonday

The error  is showing  because of bad merge.
bad gateway is because server is starting up.
It is resolved

[2019-11-01 10:03] dev-ckln commented on #32
@darionewmonday
It is done.
Please verify

[2019-11-01 10:06] dev-ckln commented on #41
@darionewmonday
It is done

[2019-11-01 10:09] dev-ckln commented on #54
@darionewmonday
It is working as per the requirements you shared

[2019-11-01 10:10] dev-ckln commented on #55
@ChristineDomgoergen @darionewmonday
This is something that was deliberately made to change. We are clearing localstorage upon refresh.

[2019-11-01 10:50] ChristineDomgoergen commented on #54
@darionewmonday @dev-ckln yes, this is fine, thanks for implementing. But before this change the pop-up also opened when you clicked on "my interests", respectively there was the intermediary page with the "edit interests" button, right? Now we do not have this page any more, which adds one case. So we have three cases:
1. see above
2. see above
3. when I click "my interests"

[2019-11-01 10:51] ChristineDomgoergen commented on #55
@dev-ckln yes this is also a good solution, clear localstorage. But then we also want the preselection of my interests to be cleared. Right now, when I refresh my previous selection is still shown (dark green tiles)

[2019-11-01 10:52] ChristineDomgoergen commented on #53
@dev-ckln Perfect, thank you.

[2019-11-01 10:52] #53 closed

[2019-11-01 11:02] dev-ckln commented on #52
@ChristineDomgoergen  @darionewmonday
Please check, ii is done

[2019-11-01 11:05] dev-ckln commented on #50
@darionewmonday
Please check it is done

[2019-11-01 11:33] dev-ckln commented on #54
@darionewmonday @ChristineDomgoergen
Please confirm.
Now the popup will open in these three cases:

1. Automatically, when the user hasn´t picked any interest yet and I open "my interests page"
2. When I click "update interests"
3. when I click "my interests"

Please provide an explanation!

[2019-11-01 11:38] dev-ckln commented on #55
@darionewmonday @ChristineDomgoergen
It is done. Please check

[2019-11-01 11:41] darionewmonday commented on #54
@dev-ckln I have just double-tested it and the way it works right now looks 100% correct.
can you confirm @ChristineDomgoergen ?

[2019-11-01 11:49] dev-ckln commented on #51
@ChristineDomgoergen @darionewmonday
 I could find it working..
Please  share screenshots for detailed explanation!

[2019-11-01 11:55] ChristineDomgoergen commented on #51
@dev-ckln Hi Deepak, please find a screenshot attached.
![Screenshot_2019-11-01 Mitmachen in Articles(4)](https://user-images.githubusercontent.com/53897140/68023278-054a3c80-fca7-11e9-97e4-13d023510a7a.png)

[2019-11-01 11:58] ChristineDomgoergen commented on #54
@darionewmonday @dev-ckln No for me it does not work if I am on page 2 and then click my interests there is no pop-up shown but the categories are reloaded

[2019-11-01 12:05] darionewmonday commented on #54
@ChristineDomgoergen I can see articles and categories reloading when I go back-forth to Deine Themen, but the popup should not open. It should only open when I click on "Auswahl ändern".

Or are not understanding what you wish to have?

[2019-11-01 12:05] ChristineDomgoergen commented on #55
@dev-ckln Yes it now works when I go back to home via Wikipedia Logo. But now I have a bug in the interest selection and message about interests:

--> I selected Geografie and clicked on find articles
--> results for more interests than geografie were shown (see screenshot for selection provided by tool)
--> also the message indicating which interests are selected does not count correctly (sometim

[2019-11-01 12:06] ChristineDomgoergen commented on #52
@dev-ckln Yes perfect, thank you

[2019-11-01 12:06] #52 closed

[2019-11-01 12:25] ChristineDomgoergen commented on #41
@dev-ckln Thank you, there is only one thing left with the message and one bigger issue:

The bigger issue: in the task filter, search results are only automatically updated when I deselect a task, when I add it again, results are not updated:
--> I search via search bar
--> I see results (Screenshot 1)
--> I filter via task type filter (deselect for example Lückenhaft)
--> I see adjusted results

[2019-11-01 12:34] ChristineDomgoergen commented on #32
@dev-ckln Thank you. looks good - I found two little things to improve:

- Footer: Please remove the " " marks at the beginning and end of the text below the Wikipedia Logo
- Message indicating the selected interests: instead of "more" there should be the German "weitere" (see screenshot)

![Screenshot_2019-11-01 Mitmachen in Articles(10)](https://user-images.githubusercontent.com/53897140/6802507

[2019-11-01 12:49] ChristineDomgoergen commented on #54
@darionewmonday yes I guess there is a misunderstanding. As a user I do not want the articles and categories to reload when I click on my interests. When I want to reload I will click reload categories. When I click on my interests I want to edit my interests. Therefore the pop-up should open. Do you understand what I mean?

Also I always see for a second the previous intermediary page, where you

[2019-11-01 12:53] darionewmonday commented on #54
@dev-ckln

1) Remove the automatic reload of categories
2) Remove the split-second old screen from appearing on the loading of the page

thanks

[2019-11-04 08:48] dev-ckln commented on #32
@ChristineDomgoergen @darionewmonday
It is done. Please check

[2019-11-04 08:48] dev-ckln commented on #55
@ChristineDomgoergen @darionewmonday
It is done. Please check

[2019-11-04 08:49] dev-ckln commented on #21
@ChristineDomgoergen @darionewmonday
It is done. Please check

[2019-11-04 08:49] dev-ckln commented on #51
@ChristineDomgoergen @darionewmonday
Can you please check again, I am not able to replicate the same

[2019-11-04 15:19] ChristineDomgoergen commented on #32
@dev-ckln Thank you, looks good! I just noticed two little link problems in the help panel:

"Finde Hilfe in der Wikipedia" --> should not be a link
"Du willst längerfristig dabei bleiben?" --> should not be a link

Could you quickly change this? Thank you

[2019-11-04 15:21] ChristineDomgoergen commented on #55
@dev-ckln great, thank you!

[2019-11-04 15:21] #55 closed

[2019-11-04 15:21] ChristineDomgoergen commented on #21
@dev-ckln Great, thank you!

[2019-11-04 15:21] #21 closed

[2019-11-04 15:24] ChristineDomgoergen commented on #51
@dev-ckln yes correct, now it seems to work. Perfect :-)

[2019-11-05 06:15] dev-ckln commented on #43
@ChristineDomgoergen
It is done

[2019-11-05 06:29] dev-ckln commented on #47
@darionewmonday @ChristineDomgoergen
Please check it is done

[2019-11-05 06:30] dev-ckln commented on #41
@ChristineDomgoergen @darionewmonday
Please check it is done

[2019-11-05 06:30] dev-ckln commented on #32
@ChristineDomgoergen

[2019-11-05 06:30] dev-ckln commented on #32
@ChristineDomgoergen
Please check it is done

[2019-11-05 06:49] dev-ckln commented on #54
@darionewmonday @ChristineDomgoergen
It is done. Please check

[2019-11-05 09:45] ChristineDomgoergen commented on #54
@dev-ckln Okay, the split second screen is not there anymore, thank you. But I don't understand @darionewmonday: now nothing happens, when I click on my interests - although it is a button? What is the idea behind this? Why does the pop-up for interest selection not open?

[2019-11-05 09:56] ChristineDomgoergen commented on #41
@dev-ckln Thank you! In the message now when I select all tasks it says "all tasks" and then lists all types of tasks --> If there are all tasks selected we would not need the tasks listed
![Screenshot_2019-11-05 Mitmachen in Articles](https://user-images.githubusercontent.com/53897140/68197656-e60b2200-ffba-11e9-8af8-5a018a948721.png)

[2019-11-05 09:58] ChristineDomgoergen commented on #47
@dev-ckln Again as in already commented #41 for the message it is
If all tasks are selected --> message should not list all tasks but only show search term / category
if less than all tasks are selected (the task filter is active) --> message should indicate search term / category and types of selected tasks

[2019-11-05 10:02] ChristineDomgoergen commented on #43
@dev-ckln Thank you. On 2. (number of articles) it still always says only 10, even if there are in total more articles. Can you check again?

Also it would be good, if I click on the load more button if the screen could jump a bit higher to the top of the page again. could you change that? Thank you.

[2019-11-05 11:23] darionewmonday commented on #43
@dev-ckln pls fix the bug. About the page scrolling up when clicked, it can be done if it doesn´t incur in extra time spent (#newrequest)

Thank you

[2019-11-05 11:30] darionewmonday commented on #54
@ChristineDomgoergen the pop-up opens not when I click on "Your interests" but when I come to "my interests" page and there are no results to be shown because I have not selected any interest.

IF
User comes to Your interests page
AND
No results can be shown because no interests have been selected
THEN
open pop up
ELSE
Open pop-up only when I click on "Edit interests"

[2019-11-06 08:38] dev-ckln commented on #48
@darionewmonday
It is done.
I have updated it for tablet and larger than tablet screen sizes

[2019-11-06 11:51] ChristineDomgoergen commented on #48
@dev-ckln great, thank you!

[2019-11-06 11:51] #48 closed

[2019-11-06 11:54] ChristineDomgoergen commented on #17
@dev-ckln @darionewmonday is there any update on this? I would like to know:
1. How can we get access to the data right now? (included in the initial offer)
2. How much time would it take to get the display features requested?

[2019-11-06 12:06] darionewmonday commented on #17
@ChristineDomgoergen sure, we´re checking this right now.

[2019-11-06 12:08] darionewmonday commented on #12
@dev-ckln what is the effort to revert the code?

[2019-11-06 12:09] darionewmonday commented on #32
@ChristineDomgoergen can we close this one?

[2019-11-06 12:12] darionewmonday commented on #50
@ChristineDomgoergen can we close this one?

[2019-11-06 12:19] dev-ckln commented on #54
@ChristineDomgoergen @darionewmonday
It is done.
Please check and close or let me know if any revisions required!

[2019-11-06 12:25] dev-ckln commented on #17
@ChristineDomgoergen @darionewmonday
We have some questions here:

Does the page views need to be in table with date range filter? or something else?
Per month aggregated users should be graph or something else?
Same for link clicks and search terms.

Can you please clarify here.

[2019-11-13 08:42] #54 closed

[2019-11-13 08:48] #50 closed

[2019-11-13 08:50] #32 closed

[2019-11-13 08:53] ChristineDomgoergen commented on #17
@dev-ckln Hi Deepak,
yes the page views should be displayed with date range filter, so we can sort for certain search terms.
About interaction parameters: per month aggregated number of users who click on article preview, on the links in the help panel, the direct links to the article --> can be a graph or just a number.

[2019-11-13 08:53] ChristineDomgoergen commented on #12
@darionewmonday @dev-ckln Do you have an answer to this yet?

[2019-11-13 08:54] ChristineDomgoergen commented on #43
@darionewmonday @dev-ckln Is there any new information on this one?

[2019-11-13 08:56] ChristineDomgoergen commented on #51
Hi @dev-ckln @darionewmonday, now the bug seems to be there again:
always when I change the task selection and then click on "favourite topics" the task filter is set on no selection and there are 0 results shown. Can you please check again? Thank you.

[2019-11-13 09:03] ChristineDomgoergen commented on #42
@dev-ckln @darionewmonday Any news on this?

[2019-11-13 09:05] ChristineDomgoergen commented on #49
@dev-ckln @darionewmonday @tobijat are the suggested changes implemented yet?

[2019-11-13 09:09] darionewmonday commented on #12
The code has been reverted as per your request.

Correct @dev-ckln ?

[2019-11-13 09:13] darionewmonday commented on #51
@ChristineDomgoergen this is not a bug.

The behaviour of the filter on the right is simply to filter after the results are shown.

WHEN
The results are displayed
THEN
the user can filter the results

WHEN
the user changes page
THAN
We need first to show results
AND
then the user can filter again

Same thing happens when the user searches after the filtering.
The filters reset, then we display res

[2019-11-13 10:45] pankshiks commented on #47
It is done @ChristineDomgoergen

[2019-11-13 10:46] pankshiks commented on #41
It is done @ChristineDomgoergen

[2019-11-13 10:54] dev-ckln commented on #51
@darionewmonday
When new results are loaded then filters are kept the same, after loading results we automatically apply the existing filters.

[2019-11-13 10:54] dev-ckln commented on #47
It is done @ChristineDomgoergen @darionewmonday

[2019-11-13 10:54] dev-ckln commented on #41
It is done @ChristineDomgoergen @darionewmonday

[2019-11-13 10:55] dev-ckln commented on #49
It is done @ChristineDomgoergen @darionewmonday

[2019-11-13 10:55] dev-ckln commented on #17
@darionewmonday  @ChristineDomgoergen
Okay understood, I'll see what kind of page I can make

[2019-11-13 11:10] dev-ckln commented on #12
@darionewmonday
The code has not been reverted yet, will do soon.

[2019-11-13 11:16] darionewmonday commented on #17
@dev-ckln please wait until we get a confirmation from Christine.

[2019-11-13 15:44] ChristineDomgoergen commented on #51
Yes, that totally makes sense. But please check if you can reproduce the bug, because in this case the filter is automatically switches from ALL TASKS selected to NO TASKS selected, without the user applying any changes...

[2019-11-13 15:45] ChristineDomgoergen commented on #49
@tobijat can you have a look? Thank you!

[2019-11-13 15:55] darionewmonday commented on #51
@dev-ckln pls check

[2019-11-13 18:49] tobijat commented on #49
@dev-ckln could you please reply to and/or resolve the conversations in https://github.com/wmde/mitmachen/pull/38/files for the things you have done.

[2019-11-14 09:46] dev-ckln commented on #12
@darionewmonday
The code is reverted

[2019-11-14 09:48] dev-ckln commented on #49
@tobijat @darionewmonday @ChristineDomgoergen
Please check the comments:

https://github.com/wmde/mitmachen/pull/38/files#r339067484
The limit of 10000 is there
- I have tried with INNER JOIN but it was very slow and almost stuck with so many data.
So I think current is doing good in terms of speed.

https://github.com/wmde/mitmachen/pull/38/files#r339069387
Same as above

https://github.com/wmde/

[2019-11-14 11:14] dev-ckln commented on #43
It is done @ChristineDomgoergen @darionewmonday

[2019-11-14 11:14] dev-ckln commented on #42
I still don't find any subcategory with that. Can you please give example of a subcategory and category which will have ungeprüfter Link
@ChristineDomgoergen @darionewmonday

[2019-11-14 12:06] ChristineDomgoergen commented on #17
@darionewmonday @dev-ckln Hi thanks for answering no 2. For comparison I would need info on no 1 as well:

1. How can we get access to the data right now? (included in the initial offer)

[2019-11-14 16:08] ChristineDomgoergen commented on #47
@dev-ckln HI Deepak, almost good now, I just found another bug though:
I search via search bar or select interests
I get results
I change the task filter and deselect a random task --> message is fine, all good
I change the task filter again to show all tasks --> message lists search term, all tasks and is doubled (see screenshot)

can you please check? Thank you.
![Screenshot_2019-11-14 Mitmachen

[2019-11-14 16:11] ChristineDomgoergen commented on #43
@dev-ckln Great, thank you!

[2019-11-14 16:11] #43 closed

[2019-11-14 16:16] ChristineDomgoergen commented on #42
@dev-ckln This is no topic subcategory, it is one of the task categories. I attached a screenshot, where you can see results from a search bar search
![Screenshot_2019-11-14 Mitmachen in Articles(2)](https://user-images.githubusercontent.com/53897140/68875105-8de2c700-0702-11ea-976d-2180104707e8.png)

[2019-11-14 16:18] ChristineDomgoergen commented on #41
@dev-ckln I commented again in #47 and we can continue the conversation there. Closing this issue.

[2019-11-14 16:18] #41 closed

[2019-11-14 16:20] ChristineDomgoergen commented on #12
@darionewmonday @dev-ckln I don't see a change here, the search is still searching within words or phrases? Could you estimate the effort it would take to sort the results by relevance? Thank you.

[2019-11-15 06:49] dev-ckln commented on #51
@darionewmonday @ChristineDomgoergen
It is done

[2019-11-15 06:53] dev-ckln commented on #47
@ChristineDomgoergen @darionewmonday
It is done

[2019-11-15 06:54] dev-ckln commented on #42
@ChristineDomgoergen
Can you please give example of a subcategory and category which will have ungeprüfter Link

[2019-11-15 06:56] dev-ckln commented on #17
@ChristineDomgoergen
The data is in the DB, Its in initial offer and we're not asking for anything.
 But we never discussed about how to show data(layout) so don't know about that only.

[2019-11-15 06:57] dev-ckln commented on #17
@ChristineDomgoergen @darionewmonday
Once you approve the estimate, let me know

[2019-11-15 07:00] dev-ckln commented on #12
@ChristineDomgoergen
I'll take a look at it again as I've already reverted the code, it should work.
To answer your question for relevance - There is no relevance measure available, so its not possible to do so.

[2019-11-18 07:29] darionewmonday commented on #42
@ChristineDomgoergen devs can not reproduce the bug, can you please record a screencast (using Loom maybe) and send it over?

thanks

[2019-11-18 12:08] dev-ckln commented on #17
@ChristineDomgoergen

Here are the command to be executed in order

1. ssh into the server

2. Connect to DB instance
mysql --defaults-file=replica.my.cnf -h tools.db.svc.eqiad.wmflabs

3. Type the following to use the following DB
use s53772__mitracking_p;

4. You can type the following to see which tables are in the DB
SHOW tables;

5. The tracking data is stored in tracking table, you can view

[2019-11-18 13:37] ChristineDomgoergen commented on #51
@dev-ckln great, thank you.

[2019-11-18 13:37] #51 closed

[2019-11-18 13:39] ChristineDomgoergen commented on #47
@dev-ckln @darionewmonday I can still replicate it (see screenshot). The problem is the message:
![Screenshot_2019-11-18 Mitmachen in Articles](https://user-images.githubusercontent.com/53897140/69056865-1fa74880-0a11-11ea-9ea2-1a582f928926.png)

[2019-11-18 13:42] ChristineDomgoergen commented on #42
@darionewmonday I don't have loom. Here is what happens:
1. I search via search bar
I get results
Lots of the results fall into the task category "ungeprüfter Link" (this is the most frequent task category)

2. I select interests
I get results
I do not get any results for the task category "ungeprüfter Link"

--> I think this is highly improbable, because it is the most frequent task category

[2019-11-18 13:56] ChristineDomgoergen commented on #12
@dev-ckln @darionewmonday In this case relevance means how well the result matches the search term.

[2019-11-18 14:00] darionewmonday commented on #12
@ChristineDomgoergen can you be more specific? What do you expect here to happen?

[2019-11-18 18:07] darionewmonday commented on #42
@dev-ckln can u pls check?

[2019-11-20 13:22] ChristineDomgoergen commented on #12
@darionewmonday So one example would be: I search for Film
1st result should be Film (100% matching result and search term)
2nd result could be for example Filmwissenschaft or Filmstar or 3D-Film (less than 100% matching but still very close)
next results could be Verfilmung or Affe im Film oder Afghanischer Film (not so close to Film anymore, quite specific results)

It is like the sorting search

[2019-11-20 14:19] tobijat commented on #49
@dev-ckln thanks!
Here's the second round of code review done by @thiemowmde. The review comments are for this diff: https://github.com/wmde/mitmachen/compare/5e3750a..f6d000e

I grouped the issues into topics. I understand it, that there are no resources left to further work on fixing those issues. However, whenever more work goes into the tool, these issues need to be fixed. Some of them (especi

[2019-11-20 15:36] darionewmonday opened #56 "Mobile (Smartphone version) inconsistencies"
@dev-ckln We have noticed that some inconsistencies appear on mobile (smartphone):

1) The text in the search bar is too long and will be cut
2) apparently the Article´s preview is hard-coded to 1280px and not responsive, why?
3) The hamburger menu doesn´t produce any window
4) the link "preview article" is missing

Can you pls check?

[2019-11-20 15:40] darionewmonday commented on #49
Hi Tobi,

I´m a bit surprised about this new wave of review since it was not
expected. As you have mentioned, there are no more resources available to
do basically anything which is not working bug.
We´re investing on our own side to give you a solution for #17, more than
this we can not do.

I have checked the tool on mobile and listed 4 points in 1 new ticket Issue
#56.

Tnx
Dario

On Wed, Nov 2

[2019-11-20 16:39] tobijat commented on #49
@darionewmonday
Most of the time code review does not only exist of one single round (only if there were minor, trivial issues). In this second round, Thiemo checked whether the concerns of the first round were addressed and whether any new issues got introduced.
Most of the mentioned points from above were already mentioned in the first round or the issues were introduced after the first round of

[2019-11-20 17:02] darionewmonday commented on #49
Hi Tobi,

I understand but still : )
Pls try to understand us as well.

We´ll try to look into the code issue with the fonts.

Best,
D

On Wed, Nov 20, 2019 at 5:39 PM Tobi Gritschacher <notifications@github.com>
wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2019-11-21 12:01] dev-ckln commented on #47
@ChristineDomgoergen
It is fixed.

[2019-11-21 12:03] dev-ckln commented on #42
@darionewmonday @ChristineDomgoergen
I checked this in detail in the DB
There is no data related to this category in the DB.
But the old developer has set this as static text in some cases. Thats why you see this category in result in some cases.

[2019-11-22 08:08] dev-ckln commented on #12
@ChristineDomgoergen @darionewmonday
Please review, its done as per reverted code

[2019-11-22 09:17] darionewmonday commented on #17
@ChristineDomgoergen a present from us (free of charge)
https://tools.wmflabs.org/mitmachen/stats

Hope is ok.

[2019-11-22 11:53] ChristineDomgoergen commented on #17
@darionewmonday Great, this looks good for the search terms! Can we also see the page views somehow?

[2019-11-22 11:55] ChristineDomgoergen commented on #47
@dev-ckln Perfect, thank you

[2019-11-22 11:55] #47 closed

[2019-11-22 11:56] ChristineDomgoergen commented on #42
@darionewmonday @dev-ckln Thank you for checking. I do not understand yet: why do we get (dynamic) results for this task category then when we search via search bar?

[2019-11-22 11:59] ChristineDomgoergen commented on #12
@dev-ckln Code works now reverted thank you. The other question is still open though...

[2019-11-22 12:52] darionewmonday commented on #17
@ChristineDomgoergen I assume so. I need to check how long would it take. Can you have access to some budget?

[2019-11-22 12:53] dev-ckln commented on #56
@darionewmonday

1. The text in the search bar is too long and will be cut (done)
2. apparently the Article´s preview is hard-coded to 1280px and not responsive, why?
Because it is in iframe. So, the iframe content is not responsive.
This page is for desktop only
Please clarify do we need to keep an other iframe for mobile that will display the mobile page?
3. The hamburger menu doesn´t produce an

[2019-11-22 12:55] darionewmonday commented on #12
@ChristineDomgoergen yes we know what you mean but we have reverted the code to the original version. It means, when you need any change or functionality here, it´s a change request.
Otherwise, the ticket can be closed.

[2019-11-22 12:57] darionewmonday commented on #56
@dev-ckln thanks.

2. The whole tool was agreed to be responsive. Thus we need also the preview to be responsive. The question would be, why it was not done responsive from the beginning?

[2019-11-22 15:32] ChristineDomgoergen commented on #12
@darionewmonday yes, that is fine. Could you estimate the effort for the change request?

[2019-11-22 15:33] ChristineDomgoergen commented on #17
@darionewmonday Depends on the amount, but it would be possible, yes.

[2019-11-22 15:37] darionewmonday commented on #12
@ChristineDomgoergen sure. Can you please create a different ticket and close this one?

[2019-11-22 15:38] darionewmonday commented on #17
@ChristineDomgoergen ok. Can you close this ticket then, and open a new one?

[2019-11-25 04:40] dev-ckln commented on #42
@ChristineDomgoergen @darionewmonday

Because there is static text in some cases. Not in all.. so where that text is not added, you dont see it.
Let me know if I should remove static text and display the fetched results without any static text?

[2019-11-25 08:59] ChristineDomgoergen opened #57 "Change request: sort search results by relevance"
@darionewmonday Could you estimate the effort please? Thank you.

[2019-11-25 08:59] #12 closed

[2019-11-25 09:03] ChristineDomgoergen opened #58 "Make tracking information available II"
Original request:
- page views: should be stored daily and there should be the possibility to select the time span, for which then the page views will be shown
- interaction parameters: per month aggregated number of users who click on article preview, on the links in the help panel, the direct links to the article
- time span: how long do users stay in the tool: aggregated by duration
- terms ent

[2019-11-25 09:03] #17 closed

[2019-11-25 09:13] ChristineDomgoergen commented on #42
@dev-ckln @darionewmonday I do not understand the issue. As I see it:

Searches via search bar: I get results from all five categories of tasks (see task filter).
Searches via select interests: I get results only for four out of five categories of tasks (no results for "ungeprüfter link")

--> the search mechanism should be the same so I do not understand, why there is a difference. And I do not u

[2019-11-25 09:50] darionewmonday commented on #56
@dev-ckln Thanks now it looks good. The preview Article has also being made responsive.

@ChristineDomgoergen

[2019-11-25 09:50] #56 closed

[2019-11-28 05:48] dev-ckln commented on #49
Please check, it is fixed

[2019-12-02 07:41] dev-ckln commented on #42
@darionewmonday @ChristineDomgoergen
Please check it is fixed

[2019-12-04 10:26] tobijat commented on #49
@dev-ckln @darionewmonday
Thanks a lot for working on the code review feedback and fixing some of the issues that were raised.
I think we're good enough to close this issue, though some points are still open but I'm going to create separate issues for them so we don't forget them when working on the codebase anytime in the future.

For reference, here's what's left (I will create separate tickets)

[2019-12-04 10:26] #49 closed

[2019-12-05 10:55] #42 closed

[2019-12-06 11:03] ChristineDomgoergen commented on #58
@darionewmonday Can you give me a cost estimation until Tuesday? Would be great, thank you

[2019-12-06 11:10] darionewmonday commented on #58
Hello Christine,

yes we´re working on it. Sorry for the delay.

On Fri, Dec 6, 2019 at 12:03 PM Christine <notifications@github.com> wrote:

--

Mit Freundlichen Grüßen,
Dario Zampetti

Product Design & Strategy
--------------------------------
M: +49.176.89002563

dario@newmonday-sprint.de
newmonday-sprint.de

[2020-01-22 10:03] ChristineDomgoergen commented on #57
@darionewmonday with your estimation we are not going to do this.

[2020-01-22 10:03] #57 closed

[2020-02-24 14:43] ChristineDomgoergen opened #59 "Integration of a page view statistics in mitmachen/stats"
**Integration of a page view statistics in mitmachen/stats similar to those in Wikipedia articles ([example here](https://tools.wmflabs.org/pageviews/?project=de.wikipedia.org&platform=all-access&agent=user&start=2020-02-03&end=2020-02-23&pages=K%C3%B6ln)).**

Requirements:

- page views are shown for freely selectable date ranges
- page views can be retrieved on a daily basis
- page views are sho

[2020-02-24 14:44] ChristineDomgoergen opened #60 "Show page views as numbers and as simple bar graph"

[2020-02-24 14:48] ChristineDomgoergen opened #61 "Add a link in the footer of the tool"
Add a link to https://tools.wmflabs.org/mitmachen/stats in the footer of the tool:

link name = "Abrufstatistik"

![Unbenannte Zeichnung](https://user-images.githubusercontent.com/53897140/75162006-12d77680-571d-11ea-8682-9f02ffbc0c59.jpg)

[2020-02-24 14:49] ChristineDomgoergen opened #62 "Integrate export function"
Integrate an export function in the tool that makes the export of both data sets, page views and search terms possible in csv format

[2020-02-24 14:50] ChristineDomgoergen opened #63 "Integration of a column with the date in the search query table"
Add a column with the date to the table of search terms

[2020-02-24 14:51] #58 closed

[2020-02-24 16:00] darionewmonday commented on #59
The new module must be embedded in the Stat page https://tools.wmflabs.org/mitmachen/stats

When installing the new widget, pls check the bullet points from Christine here above **and** the scheme I gave you https://prnt.sc/r06rt4

@dev-ckln

[2020-02-24 16:01] darionewmonday commented on #60
@dev-ckln

[2020-02-24 16:01] darionewmonday commented on #61
@dev-ckln

[2020-02-24 16:04] darionewmonday commented on #62
2 different CVS files.
1 static title per file. We will discuss a different alternative. @dev-ckln

[2020-02-24 16:04] darionewmonday commented on #63
It will be possible to sort results by clicking on the date. Date format: dd.mm.aaaa
@dev-ckln

[2020-02-24 16:05] darionewmonday opened #64 "Layout adjustments in the Stats page"
Please take a look at this suggestion and implement these changes. Thanks
https://prnt.sc/r06tfg

@dev-ckln

[2020-03-02 15:17] darionewmonday commented on #64
- Reduce this white space, the room between the 2 sections should be maximum 160px https://prnt.sc/radyzv

- Increase the white margins on the whole page, for example here https://prnt.sc/rae08x
Add at least 32px of white margins everywhere

@dev-ckln

[2020-03-02 16:23] darionewmonday commented on #64
https://prnt.sc/raf54n

@dev-ckln

[2020-03-03 12:02] dev-ckln commented on #63
Its done but date format is mm-dd-yyyy since that is the default for js. But there is a datepicker, so you don't have to manually write it.

[2020-03-03 12:03] dev-ckln commented on #62
Its done, please check by clicking on the csv field.
You can even download a subset of data by first searching for something and then clicking on the CSV button which will download the filter data only.

[2020-03-03 12:03] dev-ckln commented on #61
Done

[2020-03-03 12:03] #61 closed

[2020-03-03 12:04] dev-ckln commented on #60
A bar graph with date and relative view hits is shown on stats page at the bottom, please review.

[2020-03-03 12:04] dev-ckln commented on #64
Please review

[2020-03-03 12:47] dev-ckln commented on #59
Please check the points now, last is not possible with the current view and store.

[2020-03-03 12:47] #59 closed

[2020-03-03 20:51] darionewmonday commented on #64
https://prnt.sc/rb43pv
. Add a reset date range
. Remove white space where highlighted
. reduce the white space between the table and the stats module (about one half)

@dev-ckln

[2020-03-03 20:54] darionewmonday commented on #62
We said 2 CSVs, now it´s only one.
We need 2 export widgets. @dev-ckln

[2020-03-03 20:55] darionewmonday commented on #60
we need 2 views, table AND bar graph, as originally described. @dev-ckln

[2020-03-05 08:08] dev-ckln commented on #62
Single csv button can export any group of data. If you filter data via search and then click on CSV button, you only get the filtered data.

[2020-03-05 08:09] dev-ckln commented on #60
Both the table and graph are there, can you please explain what is missing?

[2020-03-05 10:42] darionewmonday commented on #62
I understand that. What I mean is, we would like to have 2 export options in order to download either the search-terms data OR the page stats.
Would it be possible?

[2020-03-05 10:47] dev-ckln commented on #62
Yes that's what I meant. You can filter data via search and then click on CSV button to download the filtered data.

[2020-03-10 08:19] darionewmonday commented on #63
We need the date in this format dd/mm/yyyy

@dev-ckln

[2020-03-10 08:20] darionewmonday commented on #63
Why there´s a column "Web Link"? pls remove @dev-ckln

[2020-03-10 08:31] darionewmonday commented on #63
what is the difference between subcategoryarticle und search? in Stats page
@dev-ckln

[2020-03-10 08:34] darionewmonday commented on #64
Add the title "Suchbegriffe" above the table aligned left, as title, pls.
And the word "Seitenaufrufe" above the columns, same style, title.
@dev-ckln

[2020-03-10 08:36] darionewmonday commented on #64
Add small arrows to communicate the sorting option by the columns on the tables in the search.
The user can sort by date etc, it´s clickable but not recognizable.
@dev-ckln

[2020-03-10 08:38] darionewmonday commented on #60
The date range doesn´t work on both graphs @dev-ckln

[2020-03-10 08:40] darionewmonday commented on #62
The CSV file doesn´t include the data of the page views. This is what I meant, we need BOTH data and both exports. @dev-ckln

[2020-03-10 08:42] darionewmonday commented on #60
The bar graph feature is not done, check my screenshot. We need the average numbers, selection, total number etc. check requirements @dev-ckln

[2020-03-10 08:42] darionewmonday commented on #60
When does it start to record the date?? @dev-ckln

[2020-03-11 09:35] dev-ckln commented on #63
Search is for when user searches from top and subcategory is when user selects a subcategory on articles for a category.

[2020-03-11 09:38] dev-ckln commented on #60
it started last week

[2020-03-11 09:41] dev-ckln commented on #60
- Please explain more about average numbers, selection and total number.

[2020-03-11 09:42] dev-ckln commented on #60
At present the there is an issue with graph due to the changes in date format, I'm updating it now.

[2020-03-11 09:44] dev-ckln commented on #62
Solution :
The current CSV button will be used to download the complete page stats.
And for the search terms data, when user will enter any keyword in the search input box then filtration will get performed and a new button will appear beside the search input box to download the search terms data.

Let me know if it is fine.

[2020-03-11 10:37] darionewmonday commented on #62
@ChristineDomgoergen what do you think?

[2020-03-11 10:38] darionewmonday commented on #63
@ChristineDomgoergen

[2020-03-11 10:39] darionewmonday commented on #60
It´s all here, from the beginning https://prnt.sc/r06rt4
@dev-ckln

[2020-03-11 11:28] ChristineDomgoergen commented on #62
@darionewmonday
We really need all the search terms data per csv to do a proper analysis. Can't we include two csv export buttons?

[2020-03-11 13:51] dev-ckln commented on #60
To be more clear :
Average numbers : As we are showing graph for a month, so the average numbers will be total views / days of month ... Kindly confirm!

Selection : Please confirm what is this ?

Total Numbers : It will show the total number of views, please confirm.

[2020-03-11 14:06] darionewmonday commented on #60
1) yes, average is total / days
2) we need to select a date range (asked 1000 times now)
3) yes

[2020-03-12 08:44] dev-ckln commented on #62
<img width="1403" alt="Screen Shot 2020-03-12 at 2 14 11 PM" src="https://user-images.githubusercontent.com/48859836/76503381-cfdf0800-646b-11ea-8163-571911fe39f3.png">

[2020-03-12 12:18] darionewmonday commented on #60
I saw the new filter, thanks.

Now we need:
1) Once the user applies the date-range, the total number of vies has to be updated
2) why not move the button "download page views" close to the page view chart? instead of having 2 buttons at the top? @dev-ckln

[2020-03-15 05:44] dev-ckln commented on #60
Now Total Number of views has been updated according to date range, for downloads button  i am adding query to its respective issue i.e #62.

[2020-03-15 06:01] dev-ckln commented on #62
Currently given downloads buttons are working as decsribe below:

PAGE VIEW CSV : Button will download data where type is subcategoryarticle.
SEARCH TERM DATA CSV: Button will download data where type is Search.

Both of the button has no linking with the graph provided below.

Now you are requested to explain your concern in detail, so that without any further delay we can provide the same.

[2020-03-15 06:02] dev-ckln commented on #63
Is there anything else for this issue, please confirm.

[2020-03-15 22:15] darionewmonday commented on #62
Can you please simply move the button to download the page views CSV down to the column graph pls? https://prnt.sc/rgup6b

@dev-ckln

[2020-03-17 09:42] dev-ckln commented on #62
Moving of button is not possible reason being, Those buttons are not explicitly made by me in HTML, they are a part of DataTable, and automatically made as part of table shown so moving the button far below the table is not possible.

[2020-03-17 10:07] darionewmonday commented on #62
Allright, so maybe we can solve like this:
1) In the table above, leave only the button "search term data blabla..."
2) in the widget below, ADD "Download: "Page view ..."

ok like this? @dev-ckln

[2020-03-17 11:56] dev-ckln commented on #62
I have gone through with it and the conclusion is,

Both the buttons are a single unit and dynamically created with the table. So can't move either one, they can move together only.

[2020-03-17 11:57] darionewmonday commented on #62
ok then let´s leave it as it is now.

[2020-03-19 10:43] darionewmonday commented on #60
Pls show the data starting from 11.03.2020, the data before that is useless @dev-ckln

[2020-03-19 10:55] darionewmonday commented on #64
this is not yet done @dev-ckln

[2020-03-19 10:55] darionewmonday commented on #64
This also not done @dev-ckln

[2020-03-20 09:20] darionewmonday commented on #62
It doesn´t work. Both CSV show the same data set, pls check and fix it. @dev-ckln

[2020-03-21 07:06] darionewmonday commented on #60
Both FROM date input fields (pageviews and search terms) must be preselected with 11.03.2020.
The results must be shown starting from that day.

As a user
when I visit the page stats
I will see the results per default starting on March 11th 2020

thanks @dev-ckln

[2020-03-23 06:33] dev-ckln commented on #62
well, i have tried again and both button exporting different data as per below detail:

seitenaufrufe: Downloading data with type = subcategoryarticle

suchbegriffe: Downloadig data with type = Search

Please eplain more about your concern , and let me know if you need detailig with video.

[2020-03-24 06:17] dev-ckln commented on #64
Please check once.

[2020-03-24 12:53] dev-ckln commented on #60
Now, start date will be 11.03.2020 by default, please check and confirm.

[2020-04-16 06:42] darionewmonday commented on #63
The date sorting doesn´t work https://www.loom.com/share/bb81c8f653614168b1a37df2a8cae0c9

Once I click on the date to sort it, it goes crazy

@dev-ckln

[2020-04-16 06:44] darionewmonday commented on #62
In the exported data, some letters are not encoded:
e.g.
SportausrÃ¼stung
instead of
Sportausrüstung

@dev-ckln

[2020-04-16 06:46] darionewmonday commented on #62
The exported data don´t match the filtered data
Check the screenshot against this exel https://docs.google.com/spreadsheets/u/1/d/1ZJxiAeY1NqtcAM2sujgVBxEQRE1Ay9AjYUQ0_7pVFag/edit?urp=gmail_link#gid=1999516879

![Screenshot_2020-04-15 Mitmachen in Articles(1)](https://user-images.githubusercontent.com/53903644/79423314-afe8ba00-7fbe-11ea-8fb1-3dab2e3b53c9.png)

@dev-ckln

[2020-04-16 06:49] darionewmonday commented on #60
Page Views:
Error in the date pickers, I can enter in the second field a Datum which is earlier than the first one. (eg. The period 6.4. To 1.4., Where a maximum of 6.4. To 7.4. Should be possible).
Result: Pageviews: 0 Daily Average: NaN.

@dev-ckln

[2020-04-16 06:51] darionewmonday commented on #60
If you use the date filter in succession (like me:.... Filter from 1.4 to 7.4 4.6 to 4.7, etc.) on hover over the graph depending on the movement a lot of mistakes are shown, rather than just the what you have just entered.

@dev-ckln

[2020-04-17 13:45] dev-ckln commented on #60
You are requested to mentioned all the noticed mistake with the
help of screenshot or short video for quick fixation.

[2020-04-17 13:59] darionewmonday commented on #60
For THIS problem alone, here´s the video https://www.loom.com/share/30a682251b334e079513bd2f0af6bc9a

You simply need to avoid that the user could select a TO date which is earlier than the FROM date. All understood? @dev-ckln

[2020-04-17 14:01] darionewmonday commented on #60
And this video is for THIS problem alone https://www.loom.com/share/d4db5d3e5c724d6b8c33fb02e5cb74c3

@dev-ckln

[2020-04-17 14:09] dev-ckln commented on #62
Data filteration is working,

SEITENAUFRUFE : Download the data where Type = subcategoryarticle
SUCHBEGRIFFE   : Download the data where Type = search

For Date range 11.03.20 to 15.04.20 filtered data and downloaded data is accurate, please match the data accordingly.

[2020-04-18 07:42] dev-ckln commented on #63
Please check attachment and use sorting accordingly https://prnt.sc/s1nt6o

[2020-04-18 07:50] darionewmonday commented on #63
Then you need to re-allocate the arrows because as it is now obviously is not easy to understand.
Please place the relative arrows close to the words
Like:

(arrows) Date     (arrows) Count

@dev-ckln

[2020-04-20 08:38] dev-ckln commented on #63
DONE, please check.

[2020-04-21 13:29] dev-ckln commented on #60
Please check, now know figure get changed on hover.

[2020-04-22 06:49] dev-ckln commented on #62
Please review the list of FINAL changes.

There are two buttons : Page View , Search Term Data

- On clicking the PAGE VIEW button. The downloaded CSV will contain the following columns only.
**Date | Count**
10 APR | 4
11 APR | 5
Total View : 9
Note : The above data will be the same which displays in the graph view.

--------------------------

- On clicking on SEARCH DATA, the CSV will contain f

[2020-04-22 06:53] darionewmonday commented on #62
@ChristineDomgoergen can you please check this comment and get back to me per email or telephone is anything is not clear?

My comment:
Why is "Subcategory" going to be changed with "Page views" ? @ChristineDomgoergen also here your input is helpful.

thanks to you both